doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='apiLBF.css')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='apiLBF.js')
    title Version 0.5
  body
    .container-fluid
      .row
        .col-md-12
          .cadrage
            .container-fluid
              .row
                .col-xs-12
                  br
                  p.titre Les avis sur cette formation
            .container-fluid
              .row
                .col-xs-12
                  p.moyenne
                  br
            .container-fluid
              .row
                .col-xs-offset-1.col-xs-10
                  .avis
