.cadrage {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.titre {
    font-size: 26px;
    text-align: center;
    font-family: calibri;
    font-weight: bold;
}

.moyenne {
    text-align: center;
}

.pseudo {
    position: absolute;
    margin-left: 10%;
    margin-top: 60px;
    font-family: calibri;
    font-size: 34px;
}

.question {
    position: absolute;
    margin-top: 105px;
    margin-left: 10%;
    text-decoration: underline;
}

.star {
    position: absolute;
    margin-top: 140px;
    margin-left: 10%;
}

.titreCommentaire {
    font-weight: bold;
    font-family: calibri;
    margin-left: 10px;
    margin-top: 10px;
}

.commentaire {
    margin-left: 10px;
    margin-top: 15px;
    font-family: calibri;
}

.formation {
    position: absolute;
    font-family: calibri;
    font-size: 26px;
    margin-top: 300px;
    margin-left: 10%;
}

.starFormation {
    position: absolute;
    width: 120px;
    margin-top: 310px;
    margin-left: 25%;
}

.etablissement {
    position: absolute;
    font-family: calibri;
    font-size: 26px;
    margin-top: 300px;
    margin-left: 45%;
}

.starEtablissement {
    position: absolute;
    width: 120px;
    margin-top: 310px;
    margin-left: 65%;
}