doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='index2.css')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='index.js')
    title Document
    script.
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:380667,hjsv:5};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
      
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-92090528-1', 'auto');
      ga('send', 'pageview');
  body
    .fondBlanc1
      br
      br
      br
      br
      .container-fluid
        .row
          .col-sm-2
            img.imgFormAdvisor(src='img/formADVISOR.png')
          .col-sm-offset-6.col-sm-2
            img.imgPoleEmploi(src='img/propulse.png')
            img.imgCrif(src='img/logo_crif.png')
            br
            br
            br
            br
      .container-fluid
        .row2
          .col-sm-offset-1.col-sm-10
            p.merci Merci d'avoir donné votre avis. Vous serez prévenu par mail lors de sa disponibilité sur les sites partenaires.
