doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Ubuntu', rel='stylesheet')
    link(rel='stylesheet', href='index2.css')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='index.js')
    title Version 0.5
    script.
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:380667,hjsv:5};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
      
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-92090528-1', 'auto');
      ga('send', 'pageview');
  body
    form(action='envoiInfo1', method='post')
      .fondBlanc1
        br
        br
        br
        br
        .container-fluid
          .row
            .col-sm-2
              img.imgFormAdvisor(src='img/formADVISOR.png')
            .col-sm-offset-6.col-sm-2
              img.imgPoleEmploi(src='img/propulse.png')
              img.imgCrif(src='img/logo_crif.png')
              br
              br
              br
              br
        .container-fluid
          .row
            .col-md-12
              p.titrePage2 
                |Donnez votre avis sur la formation de 
                span.p= formationName
        .container-fluid
          .row
            .col-md-12
              p#texteBienvenue1 (1 étoile étant très insatisfait / 5 étoiles étant très satisfait. )
              br
        .fondGris
          .container-fluid
            .row
              .col-xs-2
                span.rating
                  input#rating-input-1-1.rating-input(type='radio', name='avis1', value='5')
                  label#1_5.rating-star(for='rating-input-1-1')
                  input#rating-input-1-2.rating-input(type='radio', name='avis1', value='4')
                  label#1_4.rating-star(for='rating-input-1-2')
                  input#rating-input-1-3.rating-input(type='radio', name='avis1', value='3')
                  label#1_3.rating-star(for='rating-input-1-3')
                  input#rating-input-1-4.rating-input(type='radio', name='avis1', value='2')
                  label#1_2.rating-star(for='rating-input-1-4')
                  input#rating-input-1-5.rating-input(type='radio', name='avis1', value='1')
                  label#1_1.rating-star(for='rating-input-1-5')
              .col-xs-10
                p Accueil, réunion d'informations collectives, entretien à l'entrée en formation
          .container-fluid
            .row
              .col-xs-2
                p.appreciation1
                p.appreciationValide1
          .container-fluid
            .row
              .col-xs-2
                span.rating2
                  input#rating-input-1-12.rating-input2(type='radio', name='avis2', value='5')
                  label#2_5.rating-star2(for='rating-input-1-12')
                  input#rating-input-1-22.rating-input2(type='radio', name='avis2', value='4')
                  label#2_4.rating-star2(for='rating-input-1-22')
                  input#rating-input-1-32.rating-input2(type='radio', name='avis2', value='3')
                  label#2_3.rating-star2(for='rating-input-1-32')
                  input#rating-input-1-42.rating-input2(type='radio', name='avis2', value='2')
                  label#2_2.rating-star2(for='rating-input-1-42')
                  input#rating-input-1-52.rating-input2(type='radio', name='avis2', value='1')
                  label#2_1.rating-star2(for='rating-input-1-52')
              .col-xs-10
                p Suivi pédagogique 
                  span.aide1 (?)
          .container-fluid
            .row
              .col-xs-2
                p.appreciation2
                p.appreciationValide2
              .col-xs-10
                p.texteAide1
                  | Éléments à évaluer : Aide et soutien, entretiens individuels en cours de formation, tests et évaluation.
          .container-fluid
            .row
              .col-xs-2
                span.rating3
                  input#rating-input-1-13.rating-input3(type='radio', name='avis3', value='5')
                  label#3_5.rating-star3(for='rating-input-1-13')
                  input#rating-input-1-23.rating-input3(type='radio', name='avis3', value='4')
                  label#3_4.rating-star3(for='rating-input-1-23')
                  input#rating-input-1-33.rating-input3(type='radio', name='avis3', value='3')
                  label#3_3.rating-star3(for='rating-input-1-33')
                  input#rating-input-1-43.rating-input3(type='radio', name='avis3', value='2')
                  label#3_2.rating-star3(for='rating-input-1-43')
                  input#rating-input-1-53.rating-input3(type='radio', name='avis3', value='1')
                  label#3_1.rating-star3(for='rating-input-1-53')
              .col-xs-10
                p
                  | Équipe formateurs 
                  span.aide2 (?)
          .container-fluid
            .row
              .col-xs-2
                p.appreciation3
                p.appreciationValide3
              .col-xs-10
                p.texteAide2
                  | Prise en compte des difficultés, adaptation du contenu de la formation à vos besoins.
          .container-fluid
            .row
              .col-xs-2
                span.rating4
                  input#rating-input-1-14.rating-input4(type='radio', name='avis4', value='5')
                  label#4_5.rating-star4(for='rating-input-1-14')
                  input#rating-input-1-24.rating-input4(type='radio', name='avis4', value='4')
                  label#4_4.rating-star4(for='rating-input-1-24')
                  input#rating-input-1-34.rating-input4(type='radio', name='avis4', value='3')
                  label#4_3.rating-star4(for='rating-input-1-34')
                  input#rating-input-1-44.rating-input4(type='radio', name='avis4', value='2')
                  label#4_2.rating-star4(for='rating-input-1-44')
                  input#rating-input-1-54.rating-input4(type='radio', name='avis4', value='1')
                  label#4_1.rating-star4(for='rating-input-1-54')
              .col-xs-10
                p
                  | Moyens matériels mis à disposition 
                  span.aide3 (?)
          .container-fluid
            .row
              .col-xs-2
                p.appreciation4
                p.appreciationValide4
              .col-xs-10
                p.texteAide3
                  | Salles de cours, documentation, plateaux techniques, ordinateurs…
          .container-fluid
            .row
              .col-xs-2
                span.rating5
                  input#rating-input-1-15.rating-input5(type='radio', name='avis5', value='5')
                  label#5_5.rating-star5(for='rating-input-1-15')
                  input#rating-input-1-25.rating-input5(type='radio', name='avis5', value='4')
                  label#5_4.rating-star5(for='rating-input-1-25')
                  input#rating-input-1-35.rating-input5(type='radio', name='avis5', value='3')
                  label#5_3.rating-star5(for='rating-input-1-35')
                  input#rating-input-1-45.rating-input5(type='radio', name='avis5', value='2')
                  label#5_2.rating-star5(for='rating-input-1-45')
                  input#rating-input-1-55.rating-input5(type='radio', name='avis5', value='1')
                  label#5_1.rating-star5(for='rating-input-1-55')
              .col-xs-10
                p
                  | Accompagnement / Orientation 
                  span.aide4 (?)
          .container-fluid
            .row
              .col-xs-2
                p.appreciation5
                p.appreciationValide5
              .col-xs-10
                p.texteAide4
                  | Stage, emploi, techniques de recherche d’emploi/stage, mise en relation et rencontres avec des entreprises.
          .container-fluid
            .row
              .col-xs-2
                span.rating6
                  input#rating-input-1-16.rating-input6(type='radio', name='avis6', value='5')
                  label#6_5.rating-star6(for='rating-input-1-16')
                  input#rating-input-1-26.rating-input6(type='radio', name='avis6', value='4')
                  label#6_4.rating-star6(for='rating-input-1-26')
                  input#rating-input-1-36.rating-input6(type='radio', name='avis6', value='3')
                  label#6_3.rating-star6(for='rating-input-1-36')
                  input#rating-input-1-46.rating-input6(type='radio', name='avis6', value='2')
                  label#6_2.rating-star6(for='rating-input-1-46')
                  input#rating-input-1-56.rating-input6(type='radio', name='avis6', value='1')
                  label#6_1.rating-star6(for='rating-input-1-56')
              .col-xs-10
                p
                  | Recommanderiez-vous cette formation ? 
          .container-fluid
            .row
              .col-xs-2
                p.appreciation6
                p.appreciationValide6
        br
        .fondGris
          .container-fluid
            .row
              .col-xs-2
                span.rating7
                  input#rating-input-1-17.rating-input7(type='radio', name='avisGeneral', value='5')
                  label#7_5.rating-star7(for='rating-input-1-17')
                  input#rating-input-1-27.rating-input7(type='radio', name='avisGeneral', value='4')
                  label#7_4.rating-star7(for='rating-input-1-27')
                  input#rating-input-1-37.rating-input7(type='radio', name='avisGeneral', value='3')
                  label#7_3.rating-star7(for='rating-input-1-37')
                  input#rating-input-1-47.rating-input7(type='radio', name='avisGeneral', value='2')
                  label#7_2.rating-star7(for='rating-input-1-47')
                  input#rating-input-1-57.rating-input7(type='radio', name='avisGeneral', value='1')
                  label#7_1.rating-star7(for='rating-input-1-57')
              .col-xs-10
                p Quel est votre avis global ?
          .container-fluid
            .row
              .col-xs-2
                p.appreciation7
                p.appreciationValide7
        .container-fluid
          .row.no-padding
            .col-sm-12
              button.etapeSuivante(type='submit', value='Submit') Suivant