doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Ubuntu', rel='stylesheet')
    link(rel='stylesheet', href='index2.css')
    script(type='text/javascript', src='jquery.js')
    title index4
    script.
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:380667,hjsv:5};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
      
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-92090528-1', 'auto');
      ga('send', 'pageview');
  body
    form(action='envoiInfo3', method='post')
      .fondBlanc3
        br
        br
        br
        .container-fluid
          .row
            .col-sm-2
              img.imgFormAdvisor(src='img/formADVISOR.png')
            .col-sm-offset-6.col-sm-2
              img.imgPoleEmploi(src='img/propulse.png')
              img.imgCrif(src='img/logo_crif.png')
              br
              br
        .container-fluid
          .row
            .col-sm-12
              p.pouvezVous
                | Récapitulatif de votre formation 
                span.p#nom
                br
                br
        .fondGris
          p.pouvezVous Votre avis
          .fondBlanc4
            br
            .container-fluid
              .row
                .col-xs-2
                  img.star1
                .col-xs-9.bas2
                  p Accueil, informations collectives, entretien à l'entrée en formation
            .container-fluid
              .row
                .col-sm-3.bas
                  p.recap1
            .container-fluid
              .row
                .col-xs-2
                  img.star2
                .col-xs-9.bas2
                  p Suivi pédagogique
            .container-fluid
              .row
                .col-sm-3.bas
                  p.recap2
            .container-fluid
              .row
                .col-xs-2
                  img.star3
                .col-xs-9.bas2
                  p Équipe formateurs 
            .container-fluid
              .row
                .col-sm-3.bas
                  p.recap3
            .container-fluid
              .row
                .col-xs-2
                  img.star4
                .col-xs-9.bas2
                  p Moyens matériels 
            .container-fluid
              .row
                .col-sm-3.bas
                  p.recap4
            .container-fluid
              .row
                .col-xs-2
                  img.star5
                .col-xs-9.bas2
                  p Accompagnement / Orientation 
            .container-fluid
              .row
                .col-sm-3.bas
                  p.recap5
            .container-fluid
              .row
                .col-xs-2
                  img.star6
                .col-xs-9.bas2
                  p Recommanderiez-vous cette formation ? 
            .container-fluid
              .row
                .col-sm-3.bas
                  p.recap6
            .container-fluid
              .row
                .col-xs-2
                  img.star7
                .col-xs-9.bas2
                  p Satisfaction générale
            .container-fluid
              .row
                .col-sm-3.bas
                  p.recapGenerale
          br
          p.pouvezVous Votre commentaire
          .fondBlanc4
            br
            .container-fluid
              .row
                .col-sm-6
                  p#titreComm
            .container-fluid
              .row
                .col-sm-6
                  p#comm
          br
          p.pouvezVous 
            | Votre pseudo 
            span.nonObligatoire (votre avis sera visible avec votre pseudo)
            br
          input.pseudo(type='text', name='pseudo', maxlength='40')
          p.manqueLePseudo
          br
          br
          .container-fluid
            .row
              .col-xs-1
                input(type='checkbox', name='accord', value='true')
              .col-xs-11
                p.cochant En cochant cette case, j'autorise les futurs élèves à me contacter pour bénéficier de mon expérience
          .container-fluid
            .row
              .col-sm-offset-2.col-sm-3
                .retour2 Modifiez votre avis
              .col-sm-offset-1.col-sm-3
                button.suivant6(type='submit', value='Submit') Envoyez votre avis
script(type='text/javascript', src='index.js')