body {
    background-color: #d9d9d9;
}

.cadre1 {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #006bb3;
    width: 500px;
    height: 300px;
}

.pseudo {
    margin-top: 80px;
    width: 60%;
    margin-left: 20%;
    height: 35px;
}

.pass {
    margin-top: 20px;
    width: 60%;
    margin-left: 20%;
    height: 35px;
}

.valider {
    margin-top: 20px;
    width: 30%;
    height: 30px;
    margin-left: 35%;
    border: none;
}

.cadre1,
.pseudo,
.pass,
.valider {
    border-radius: 5px;
}

.cadreRond {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: white;
    position: absolute;
    margin-left: 180px;
    margin-top: -70px;
    background-image: url(img/logo%20user.png);
    background-position:center center;
}

input {
    border: 1px solid #ccc;
    padding: 12px 12px;
}

.valider:hover {
    background-color: #ffffff;
}