doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Ubuntu', rel='stylesheet')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='organismeformationConnection.js')
    link(rel='stylesheet', href='organismeformationConnection.css')
    Accueil
    script.
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:380667,hjsv:5};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  body
    .cadre1
      .cadreRond
      form(action='pageConnectionOrganismeFormation', method='post')
        input.pseudo(type='text', name='login', maxlength='40', placeholder="Entrez votre code ici")
        input.pass(type='text', name='password', maxlength='40', placeholder="Entrez votre siren ici")
        button.valider(type='submit', value='Submit') Valider 
    