doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Ubuntu', rel='stylesheet')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='supermodo.js')
    link(rel='stylesheet', href='supermodo.css')
    supermodo
  body
    form(action='envoiAjoutSimu', method='post')
      .container-fluid
        .row
          .col-sm-offset-1.col-sm-5
            p.texte lecture / suppression :
            .liste.texte
            .listeAvis.texte
          .col-sm-offset-1.col-sm-5
            p.texte ecriture : 
            br
            br
            p.texte nom 
              input(type='text', name='01')
            p.texte prénom 
              input(type='text', name='02')
            p.texte id secret 
              input(type='text', name='03')
            p.texte telephone stagiaire 
              input(type='text', name='04')
            p.texte mail stagiaire 
              input(type='text', name='05')
            p.texte id carif session 
              input(type='text', name='06')
            p.texte id carif action 
              input(type='text', name='07')
            p.texte id carif formation 
              input(type='text', name='08')
            p.texte date début 
              input(type='text', name='09')
            p.texte date fin 
              input(type='text', name='10')
            p.texte formacode 
              input(type='text', name='11')
            p.texte code certif info 
              input(type='text', name='12')
            p.texte lieu formation 
              input(type='text', name='13')
            p.texte id carif organisme 
              input(type='text', name='14')
            p.texte nom organisme 
              input(type='text', name='15')
            p.texte adresse organisme 
              input(type='text', name='16')
            p.texte mail organisme 
              input(type='text', name='17')
            p.texte siren 
              input(type='text', name='18')
            p.texte siret 
              input(type='text', name='19')
            p.texte id pole emploi 
              input(type='text', name='20')
            p.texte financement 
              input(type='text', name='21')
            p.texte intitulé formation
              input(type='text', name='22')
            button(type='submit', value='Submit') Envoyez