.fond{
    background-color: aliceblue;
    width: 28%;
    height: 200px;
    border-radius: 10px;
    margin-left: -150px;
    float: left;
    margin-top: 0px;
    position: absolute;
}
.fond2{
    background-color: aliceblue;
    margin-left: 25%;
    width: 75%;
    height: 900px;
    border-radius: 20px;
    float: right;
    position: absolute;
}
.bonjour{
    text-align: right;
    margin-right: 5%;
}
.administration{
    margin-left: 400px;
    font-size: 25px;
    color: #003173;
    line-height: 34px;
    float: left;
    font-weight: bold;
}
.fond3 {
    width: 90%;
    height: 600px;
    margin-left: 5%;
}
.lesNouveaux{
    font-weight: bold;
}
#comm{
    font-size: 16px;
    font-family: inherit;
}
.fond4{
    width: 70%;
    margin-left: 10%;
    margin-top: 30px;
}
#rubrique{
    margin-top: 150px;
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.logoIleDeFrance {
    display: block;
    float: right;
}
.rub1{
    position: absolute;
    top: -120px;
}
.rub2{
    position: absolute;
    top: -90px;
}
.rub3{
    position: absolute;
    top: -60px;
}
.rub4{
    position: absolute;
    top: -30px;
}
.rub5{
    position: absolute;
    top: 0px;
}
.fond5{
    background-color: aliceblue;
    margin-left: 20%;
    width: 70%;
    height: 900px;
    border-radius: 20px;
    float: right;
    position: absolute;
}
.fond6{
    width: 90%;
    height: 100px;
    margin-left: 5%;
    margin-top: 100px;
}