doctype html(lang='fr')
head
    meta(charset='utf-8')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='admin.js')
    link(rel='stylesheet', href='admin.css')
    title
      | La bonne formation Administration
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content="L'employé(e) commercial(e) en magasin assure l'approvisionnement et la mise en valeur des produits d'un rayon ou d'un point de vente et répond aux sollicitations des clients, les oriente et les conseille. Il (elle) réceptionne les marchandises, participe à la tenue des réserves, au rangement des pro...")
    link(rel='icon', type='image/png', href='/img/favicon.png')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='test.css')
    link(rel='stylesheet', href='test2.css')
    link(rel='stylesheet', href='admin.css')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css', rel='stylesheet')
    link(rel='canonical', href='/annonce-formation/titre-professionnel-employe-commercial-en-magasin-131827')
body
    .beta Version Bêta
    .container-fluid
      .row.section-header
        .col-md-12
          .row
            .col-md-10.col-md-offset-1
              .row
                .col-sm-2(onclick="window.location.href='/';")
                  .img-logolbf(style='cursor:pointer;')
                .col-sm-8
                .col-sm-2
                  .img-logope
                  img.logoIleDeFrance(src='img/logo_crif.png', style='cursor:pointer', height='50', width='180')
      .row.section-content
        .col-md-12
          .row.section-body
            .col-md-12
              .row
                .col-md-10.col-md-offset-1
                  .row
                    .col-md-6(style='text-align:left;')
                    br
                    .col-md-6(style='text-align:right;')
                    br
                    br
                    div.fond2
                        br
                        br
                        p.administration Modération
                        p.bonjour Bonjour Khaled Djoher
                        p.bonjour(style='color:red;font-weight:bold') Administrateur niveau 1
                        div.fond3
                            br 
                            br
                            br
                            p.lesNouveaux Les nouveaux commentaires 
                            br
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number5(src='img/etoile.png' height='20')
                            |   C'était génial !
                            p(style='font-size:14px;color:red' ) par Greg57 le 04 avril 2016
                            
                            p#comm Grâce à cette formation, j'ai appris les ficelles du métier. Ce n'est pas simple au début, mais on s'habitue très vite. Les formateurs sontet ont des méthodes     d'apprentissages très efficaces. Une formation que je recommande.
                            input(type='submit', value='Valider')
                            | &#x9;&#x9;&#x9; 
                            input(type='submit', value='Refuser')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Contacter')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Mettre en attente')
                            br
                            br
                            br
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number5(src='img/etoile.png' height='20')
                            |   C'était génial !
                            p(style='font-size:14px;color:red' ) par Greg57 le 04 avril 2016
                            
                            p#comm Grâce à cette formation, j'ai appris les ficelles du métier. Ce n'est pas simple au début, mais on s'habitue très vite. Les formateurs sontet ont des méthodes     d'apprentissages très efficaces. Une formation que je recommande.
                            input(type='submit', value='Valider')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Refuser')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Contacter')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Mettre en attente')
                            br
                            br
                            br
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number5(src='img/etoile.png' height='20')
                            |   C'était génial !
                            p(style='font-size:14px;color:red' ) par Greg57 le 04 avril 2016
                        
                            p#comm Grâce à cette formation, j'ai appris les ficelles du métier. Ce n'est pas simple au début, mais on s'habitue très vite. Les formateurs sontet ont des méthodes     d'apprentissages très efficaces. Une formation que je recommande.
                            input(type='submit', value='Valider')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Refuser')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Contacter')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Mettre en attente')
                    div.fond
                        div.fond4
                            a#rubrique.rub1(href='admin') Voir les nouveaux commentaires 
                            br
                            a#rubrique.rub2(href='commentairesValides') Voir les commentaires validés
                            br
                            a#rubrique.rub3(href='commentairesRefuses') Voir les commentaires refusés
                            br
                            a#rubrique.rub4(href='commentaireEnAttente') Voir les commentaires mis en attente
                            br
                            a#rubrique.rub5(href='contacteUnModo') Contacter un administrateur