doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title
      | Formation de "Titre professionnel employé(e) commercial(e) en magasin" | La Bonne Formation
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content="L'employé(e) commercial(e) en magasin assure l'approvisionnement et la mise en valeur des produits d'un rayon ou d'un point de vente et répond aux sollicitations des clients, les oriente et les conseille. Il (elle) réceptionne les marchandises, participe à la tenue des réserves, au rangement des pro...")
    link(rel='icon', type='image/png', href='/img/favicon.png')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='test.css')
    link(rel='stylesheet', href='test2.css')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css', rel='stylesheet')
    link(rel='canonical', href='/annonce-formation/titre-professionnel-employe-commercial-en-magasin-131827')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='index.js')
  body
    .beta Version Bêta
    .container-fluid
      .row.section-header
        .col-md-12
          .row
            .col-md-10.col-md-offset-1
              .row
                .col-sm-2(onclick="window.location.href='/';")
                  .img-logolbf(style='cursor:pointer;')
                .col-sm-8
                .col-sm-2
                  .img-logope
                  img.logoIleDeFrance(src='img/logo_crif.png', style='cursor:pointer', height='50', width='180')
      .row.section-content
        .col-md-12
          .row.section-body
            .col-md-12
              .row
                .col-md-10.col-md-offset-1
                  .row
                    .col-md-6(style='text-align:left;')
                      a#backlink.followlink(href='/formations/magasinage-et-preparation-de-commandes/la-ferte-bernard-72') < Retour aux offres de formations
                    // <div class="col-md-4"></div>
                    .col-md-6(style='text-align:right;')
                      a#pred-link.followlink(href='') < Formation précédente
                      a#next-link.followlink(href='') Formation suivante >
              .row
                .col-md-10.col-md-offset-1.content
                  .row.title
                    .col-md-6.header
                      h1 Titre professionnel employé(e) commercial(e) en magasin
                      span.orga
                        | ORGANISME 
                        strong RETRAVAILLER DANS L'OUEST LE MANS
                    .col-md-6(style='text-align:right;')
                      a.button.call.simulator(href='/simulez-vos-droits-a-la-formation/titre-professionnel-employe-commercial-en-magasin-131827') Connaître mes possibilités de financements
                  .row
                    .col-md-12.tabs
                      ul.nav.nav-tabs
                        li.onglet.active
                          a#ongstats(data-toggle='pill', href='#stats')
                            span#onglet-taux
                              span.rating.rate-40
                              br
                            span.text Pourquoi la choisir ?
                      // Onglet: Session de formation
                      .tab-content
                        
                          .col-md-12
                            .row
                              .col-md-6
                                .row
                                  .col-md-12
                                    h2 NIVEAU DE RETOUR À L'EMPLOI
                                    .chapiter
                                      span.text-reembauche
                                        span#asterisk-click(onclick="$('.durable').fadeToggle();")
                                          | Le niveau de retour à l'emploi
                                          span.mini-info
                                        | 														des stagiaires ayant suivi cette formation durant les 18 derniers mois dans ma région 
                                        | 																													est 
                                        span(style='text-transform:uppercase; font-weight:bold;')
                                          | excellent
                                      .asterisk.durable
                                        .mini-info.middle
                                        | 												Le niveau de retour à l'emploi mesure la part des stagiaires inscrits à Pôle emploi qui, dans les 6 mois suivant la fin de chaque formation, ont retrouvé un emploi salarié de 1 mois et plus (hors particuliers employeurs, employeurs publics, employeurs à l’étranger et missions d’intérim à durée non renseignée), ou ont bénéficié d’un contrat aidé ou ont créé leur entreprise (Source : données Pôle emploi).
                                        // Retour à l’emploi = ensemble des stagiaires qui, dans les 6 mois suivant la fin de chaque formation, ont retrouvé un emploi salarié de 1 mois et plus, (hors particuliers employeurs, employeurs publics, employeurs à l’étranger et missions d’intérim à durée non renseignée), ou ont bénéficié d’un contrat aidé ou ont créé leur entreprise.
                                    h2 Pourquoi choisir cet organisme ?
                                    .chapiter
                                      | Pensez à bien interroger les différents organismes de formation. Ils vous aideront à choisir une formation adaptée.
                                      br
                                      | 											De plus, vous obtiendrez des contacts utiles pour votre recherche d'emploi !
                                .col-md-10    
                                    h3.azerty(style="text-decoration:underline;") Vous avez fait cette formation ? Donnez votre avis en cliquant ici
                                    br
                                    div.notation(style='display:none')
                                        form(action='/sendInformationFirst', method='post')
                                            h2 Votre nom (Obligatoire)
                                                div
                                                    textarea#tag.champ(type='text' name='tag' maxlength='20' placeholder='Entrez votre nom ici' style='resize:none;' cols='30' rows='1')
                                            h2 Votre prenom (Obligatoire)
                                                div
                                                    textarea#tag.champ(type='text' name='tag' maxlength='20' placeholder='Entrez votre prénom ici' style='resize:none;' cols='30' rows='1')
                                            input.laValidation(type='submit', value='valider' style='color:black')
                                    div.notation2(style='display:none')
                                        form.laForm(action='/sendInformation', method='post')
                                            h2 Votre pseudo (Obligatoire)
                                                div.firstDiv
                                                    textarea#tag.champ(type='text' name='tag' maxlength='20' placeholder='Entrez votre pseudo ici' style='resize:none;' cols='30' rows='1')
                                                div.firstDivError
                                            h2 Titre de votre commentaire
                                                div.firsttwoDiv
                                                    textarea#titleComm.champ(type='text' name='tag' maxlength='20' placeholder='Entrez votre titre ici' style='resize:none;' cols='30' rows='1')
                                                div.firstDivError
                                            h2 VOTRE COMMENTAIRE SUR LA FORMATION 
                                                div.secondDiv
                                                    textarea#comm.champ(type='text', name='commentary', cols='50', rows='4', placeholder='Entrez votre commentaire ici', style='resize:none;')
                                                div.secondDivError
                                                div.thirdDiv
                                            h2 Votre note sur 5 (Obligatoire)
                                                br
                                                br
                                                input#note(type='radio' name='note' value='1')
                                                img#star.number1(src='img/yellow_star3.png' height='20')
                                                img#star.number2(src='img/etoile.png' height='20')
                                                img#star.number3(src='img/etoile.png' height='20')
                                                img#star.number4(src='img/etoile.png' height='20')
                                                img#star.number5(src='img/etoile.png' height='20') 
                                                |   Très Mauvaise
                                                br
                                                input#note(type='radio' name='note' value='2')
                                                img#star.number1(src='img/yellow_star3.png' height='20')
                                                img#star.number1(src='img/yellow_star3.png' height='20')
                                                img#star.number3(src='img/etoile.png' height='20')
                                                img#star.number4(src='img/etoile.png' height='20')
                                                img#star.number5(src='img/etoile.png' height='20')
                                                |   Mauvaise
                                                br
                                                input#note(type='radio' name='note' value='3')
                                                img#star.number1(src='img/yellow_star3.png' height='20')
                                                img#star.number1(src='img/yellow_star3.png' height='20')
                                                img#star.number1(src='img/yellow_star3.png' height='20')
                                                img#star.number4(src='img/etoile.png' height='20')
                                                img#star.number5(src='img/etoile.png' height='20')
                                                |   Moyenne
                                                br
                                                input#note(type='radio' name='note' value='4')
                                                img#star.number1(src='img/yellow_star3.png' height='20')
                                                img#star.number1(src='img/yellow_star3.png' height='20')
                                                img#star.number1(src='img/yellow_star3.png' height='20')
                                                img#star.number1(src='img/yellow_star3.png' height='20')
                                                img#star.number5(src='img/etoile.png' height='20') 
                                                |   Bonne
                                                br
                                                input#note(type='radio' name='note' value='5')
                                                img#star.number1(src='img/yellow_star3.png' height='20')
                                                img#star.number1(src='img/yellow_star3.png' height='20')
                                                img#star.number1(src='img/yellow_star3.png' height='20')
                                                img#star.number1(src='img/yellow_star3.png' height='20')
                                                img#star.number1(src='img/yellow_star3.png' height='20') 
                                                |   Excellente
                                                h3.azerty2(style='cursor:pointer;text-decoration:underline;') Vous souhaitez donner plus d'informations sur votre note ?
                                                br
                                                input.laValidationSansCritere(type='submit', value='valider' style='color:black')
                                                div.fourDiv(style='display:none')
                                                    h2 Critère 1
                                                    input#note(type='radio' name='note1' value='1')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number2(src='img/etoile.png' height='20')
                                                    img#star.number3(src='img/etoile.png' height='20')
                                                    img#star.number4(src='img/etoile.png' height='20')
                                                    img#star.number5(src='img/etoile.png' height='20') 
                                                    |   Très Mauvaise
                                                    br
                                                    input#note(type='radio' name='note1' value='2')
                                                    img#star.number1(src='img/yellow_star3.png'     height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number3(src='img/etoile.png' height='20')
                                                    img#star.number4(src='img/etoile.png' height='20')
                                                    img#star.number5(src='img/etoile.png' height='20')
                                                    |   Mauvaise
                                                    br
                                                    input#note(type='radio' name='note1' value='3')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number4(src='img/etoile.png' height='20')
                                                    img#star.number5(src='img/etoile.png' height='20')
                                                    |   Moyenne
                                                    br
                                                    input#note(type='radio' name='note1' value='4')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number5(src='img/etoile.png' height='20') 
                                                    |   Bonne
                                                    br
                                                    input#note(type='radio' name='note1' value='5')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20') 
                                                    |   Excellente
                                                    br 
                                                    br
                                                    h2 Critère 2
                                                    input#note(type='radio' name='note1' value='1')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number2(src='img/etoile.png' height='20')
                                                    img#star.number3(src='img/etoile.png' height='20')
                                                    img#star.number4(src='img/etoile.png' height='20')
                                                    img#star.number5(src='img/etoile.png' height='20') 
                                                    |   Très Mauvaise
                                                    br
                                                    input#note(type='radio' name='note1' value='2')
                                                    img#star.number1(src='img/yellow_star3.png'     height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number3(src='img/etoile.png' height='20')
                                                    img#star.number4(src='img/etoile.png' height='20')
                                                    img#star.number5(src='img/etoile.png' height='20')
                                                    |   Mauvaise
                                                    br
                                                    input#note(type='radio' name='note1' value='3')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number4(src='img/etoile.png' height='20')
                                                    img#star.number5(src='img/etoile.png' height='20')
                                                    |   Moyenne
                                                    br
                                                    input#note(type='radio' name='note1' value='4')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number5(src='img/etoile.png' height='20') 
                                                    |   Bonne
                                                    br
                                                    input#note(type='radio' name='note1' value='5')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                                    img#star.number1(src='img/yellow_star3.png' height='20') 
                                                    |   Excellente
                                                    br
                                                    br
                                                    br
                                                    div.fiveDiv
                                                        input.laValidation(type='submit', value='valider' style='color:black')
                                    h2 Les différents avis sur cette formation
                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                    img#star.number5(src='img/etoile.png' height='20')
                                    |   C'était génial !
                                    p(style='font-size:14px;color:red' ) par Greg57 le 04 avril 2016
                                    
                                    p Grâce à cette formation, j'ai appris les ficelles du métier. Ce n'est pas simple au début, mais on s'habitue très vite. Les formateurs sont à l'écoute et ont des méthodes d'apprentissages très efficaces. Une formation que je recommande.
                                    br
                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                    img#star.number5(src='img/etoile.png' height='20')
                                    img#star.number5(src='img/etoile.png' height='20')
                                    |   Pas mal pas mal !
                                    p(style='font-size:14px;color:red' ) par Pasmal le 12 juin 2015
                                    
                                    p Si vous comptez faire cette formation, alors accrochez-vous car si vous êtes à la traine, les formateurs ne pénaliseront pas les autres pour vous. Mais si vous vous sentez l'âme d'un aventurier qui n'abandonne pas, alors n'hésitez pas. Surtout que la branche offre pas mal d'emploi à la fin.
                                    br
                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                    img#star.number1(src='img/yellow_star3.png' height='20')
                                    |   Rien à redire !
                                    p(style='font-size:14px;color:red' ) par Mec Sympa le 01 janvier 2015
                                    
                                    p C'était cool. Je vais la refaire. Bonne année.
                              .col-md-6
                                .row
                                  .col-md-12
                                    h2 Qui recrute avec cette formation ?
                                    .chapiter
                                      #ajaxstats
                                        .text-left
                                          p 3 offres d'emploi en «  Vente en habillement et accessoires de la personne »
                                          p 6 offres d'emploi en «  Management de magasin de detail »
                                          p 2 offres d'emploi en «  Management/gestion de rayon produits non alimentaires »
                                          p 19 offres d'emploi en «  Magasinage et preparation de commandes »
                                          p 6 offres d'emploi en «  Intervention technique d'exploitation logistique »
                            .row
                              .col-md-6
                                .text-info
                                  h3
                                    span.fa.fa-lightbulb-o
                                    |  Des exemples de questions à poser aux organismes :
                                  ul
                                    li
                                      | « Quels sont les profils des anciens stagiaires (niveau de formation, expérience professionnelle) ? »
                                    li
                                      | « Quel type de public accueillez-vous en formation (salariés, demandeurs d’emploi, particuliers) ? »
                                    li
                                      | « Peut-on obtenir une liste de ces anciens stagiaires pour les interroger sur cette formation ? »
                                    li « Comment aidez-vous les stagiaires à trouver un emploi ? »
                              .col-md-6
                                .text-info
                                  h3
                                    span.fa.fa-lightbulb-o
                                    |  Des exemples de questions à poser aux employeurs :
                                  ul
                                    li « Quels conseils me donneriez-vous pour me former dans ce métier ? »
                                    li
                                      | « Est-ce que cette formation permet d’acquérir les compétences nécessaires pour exercer ce métier  ? »
                                    li
                                      | « Pourriez-vous m’accueillir pour une 
                                      a(target='_blank', href='http://www.pole-emploi.fr/candidat/realiser-une-immersion-professionnelle-en-entreprise-@/article.jspz?id=81296') immersion professionnelle
                                      |  avant la formation ou un stage pendant cette formation ? »
                        .section-print.hidden-print.col-center
                          a.button.call(href='/simulez-vos-droits-a-la-formation/titre-professionnel-employe-commercial-en-magasin-131827') Connaître mes possibilités de financements
                          a.button.call.print(href='javascript:window.print();', title='Imprimer cette page')  
      footer.row.section-footer
        .col-xs-10.col-xs-offset-1
        .col-xs-12.footer
          .row
            .col-md-10.col-md-offset-1
              .row
                .col-md-4(onclick="window.location.href='/';")
                  .img-logolbf(style='cursor:pointer;')
                .col-md-4(style='padding-top:0em;')
                  a(href='/conditions-generales-d-utilisation', target='_blank') Conditions générales d'utilisation
                  |  
                  a(href='/foire-aux-questions', target='_blank') Foire aux questions
                  |  
                  a(href='mailto:labonneformation@pole-emploi.fr?subject=Je%20souhaite%20vous%20contacter') Nous contacter
                .col-md-4
                  .img-logope
    script(type='text/javascript').
      var disableAnalytics=true;
    script(src='/js/b9394a096b0d7cf5dca6caf58462094e')
    script(src='/js/2c55582812e224e3c2186cbf94534178')
    script(type='text/javascript').
      $(document).ready(function()
      {
      initDetail($(".taux-reembauche"),["N1103","N1303","D1214","D1301","D1503"],"_1_1_16_4_38_");
      showMap("carte",48.1820653,0.6600836,"27 rue Faidherbe\\n72400, La Ferté-Bernard\n");
      });
