doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='index3.css')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='index.js')
    title Document
    script.
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:359252,hjsv:5};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  body
    .bandeHautBlanche
      .container-fluid
        .row
          .col-sm-offset-2.col-sm-2
            img.imgFormAdvisor(src='img/formADVISOR.png')
          .col-sm-offset-4.col-sm-2
            img.imgPoleEmploi(src='img/propulse.png')
            img.imgCrif(src='img/logo_crif.png')
    
    .container-fluid
      .row2
        .col-sm-offset-2.col-sm-8
          .fondBlanc4
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-10
                  p.merci
                    | Merci d'avoir donné votre avis. Vous serez prévenu par mail lors de sa disponibilité sur nos sites partenaires.
               
