doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Ubuntu', rel='stylesheet')
    link(rel='stylesheet', href='index1.css')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='index.js')
    Acceuil
    // Hotjar Tracking Code for http://advisor.beta.pole-emploi.fr/
    script.
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:359252,hjsv:5};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  body
    .bandeHautBlanche
      .container-fluid
        .row
          .col-sm-offset-2.col-sm-2
            img.imgFormAdvisor(src='img/formADVISOR.png')
          .col-sm-offset-4.col-sm-2
            img.imgPoleEmploi(src='img/propulse.png')
            img.imgCrif(src='img/logo_crif.png')
    .container-fluid
      .row2
        .col-md-offset-2.col-md-8
          .fondBlanc1
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-1
                  p#texteBienvenue1 Bienvenue
                .col-sm-offset-1.col-sm-2
                  p#texteBienvenue1= name
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-11
                  p#texteBienvenue3 Ici, vous pourrez donner un avis sur votre formation
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-11
                  p#texteBienvenue2 Ceci ne vous prendra qu'un petit instant
                  br
                  br
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-2
                  p.boucherCharcutier Formation
                .col-xs-offset-1.col-xs-6
                  p.intitule= formationName
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-2
                  p.centre Centre
                .col-xs-offset-1.col-xs-6
                  p.centreDeFormation= formationPlace
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-2
                  p.date Date
                .col-xs-offset-1.col-xs-8
                  p.dateDeFormation= beginDate
            .container-fluid
              .row2
                .col-xs-offset-1.col-xs-5
                  p.exacte
                    | Ces informations ne sont pas exactes ? 
                    span.signaler Signaler
            .container-fluid
              .row2
                .col-md-offset-4.col-md-4
                  .suivant Donner votre avis
