body {
    background-color: cornflowerblue;
}

.bandeHautBlanche {
    width: 100%;
    height: auto;
    background-color: white;
}

.imgPoleEmploi {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
}

.imgCrif {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
}

.imgFormAdvisor {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

.suivant3 {
    width: 200px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#ffb366, #ff9933);
    margin-top: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 12px 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.merci {
    margin-top: 100px;
    font-size: 30px;
    color: cornflowerblue;
}

.fondBlanc4 {
    height: auto;
    background-color: white;
    padding-bottom: 60px;
    margin-top: -5px;
}