body {
    background-color: cornflowerblue;
}

.row {
    margin-top: 30px;
    text-align: center;
}

.row2 {
    text-align: left;
}

.bandeHautBlanche {
    width: 100%;
    height: auto;
    background-color: white;
}

.imgPoleEmploi {
    width: 150px;
    top: 20px;
}

.imgCrif {
    width: 150px;
    top: 80px;
}

.imgFormAdvisor {
    height: 80px;
    margin-left: 20px;
}

.fondBlanc2 {
    height: auto;
    background-color: white;
    padding-bottom: 20px;
}

.titrePage2 {
    font: normal 400 20px "ubuntu", sans-serif;
    margin-top: 30px;
    color: cornflowerblue;
    text-align: center;
}

.rating-input {
    display: none;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
    cursor: pointer;
}

.rating-star,
.rating:hover .rating-star {
    float: right;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}


/***************************************************************************/

.rating-input2 {
    display: none;
}

.rating2:hover .rating-star2:hover,
.rating2:hover .rating-star2:hover ~ .rating-star2,
.rating-input2:checked ~ .rating-star2 {
    background-position: 0 0;
    cursor: pointer;
}

.rating-star2,
.rating2:hover .rating-star2 {
    float: right;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}


/*******************************************************************************/

.rating-input3 {
    display: none;
}

.rating3:hover .rating-star3:hover,
.rating3:hover .rating-star3:hover ~ .rating-star3,
.rating-input3:checked ~ .rating-star3 {
    background-position: 0 0;
    cursor: pointer;
}

.rating-star3,
.rating3:hover .rating-star3 {
    float: right;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}


/*****************************************************************************/

.rating-input4 {
    display: none;
}

.rating4:hover .rating-star4:hover,
.rating4:hover .rating-star4:hover ~ .rating-star4,
.rating-input4:checked ~ .rating-star4 {
    background-position: 0 0;
    cursor: pointer;
}

.rating-star4,
.rating4:hover .rating-star4 {
    float: right;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}


/*****************************************************************************/

.rating-input5 {
    display: none;
}

.rating5:hover .rating-star5:hover,
.rating5:hover .rating-star5:hover ~ .rating-star5,
.rating-input5:checked ~ .rating-star5 {
    background-position: 0 0;
    cursor: pointer;
}

.rating-star5,
.rating5:hover .rating-star5 {
    float: right;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}


/*******************************************************************************/

.rating-input6 {
    display: none;
}

.rating6:hover .rating-star6:hover,
.rating6:hover .rating-star6:hover ~ .rating-star6,
.rating-input6:checked ~ .rating-star6 {
    background-position: 0 0;
    cursor: pointer;
}

.rating-star6,
.rating6:hover .rating-star6 {
    float: right;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}


/********************************************************************************/

.rating-input7 {
    display: none;
}

.rating7:hover .rating-star7:hover,
.rating7:hover .rating-star7:hover ~ .rating-star7,
.rating-input7:checked ~ .rating-star7 {
    background-position: 0 0;
    cursor: pointer;
}

.rating-star7,
.rating7:hover .rating-star7 {
    float: right;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}


/********************************************************************************/

p {
    font: normal 400 16px "ubuntu", sans-serif;
}

.aide1,
.aide2,
.aide3,
.aide4 {
    font-size: 12px;
    cursor: pointer;
}

.texteAide1,
.texteAide2,
.texteAide3,
.texteAide4 {
    font-size: 16px;
    display: none;
}

.noteGlobale {
    font: normal 400 22px "ubuntu", sans-serif;
}

#preums {
    margin-top: 20px;
}

.nonObligatoire {
    font-size: 12px;
}

.cochant {
    font: normal 400 20px "ubuntu", sans-serif;
}

.fondBlanc3 {
    height: auto;
    background-color: white;
    margin-top: 60px;
    padding-bottom: 20px;
}

.pouvezVous {
    font: normal 400 20px "ubuntu", sans-serif;
    margin-top: 30px;
    color: cornflowerblue;
    text-align: center;
}

.fondBlanc4 {
    height: auto;
    background-color: white;
    padding-bottom: 60px;
    margin-top: -5px;
}

.titreComm {
    resize: none;
    width: 100%;
    background-color: #f2f2f2;
    border-style: solid;
    border-width: 1px;
    border-color: #a6a6a6;
}

.pseudo {
    width: 100%;
    background-color: #f2f2f2;
    border-style: solid;
    border-width: 1px;
    border-color: #a6a6a6;
}

.champ {
    resize: none;
    width: 100%;
    background-color: #f2f2f2;
    border-style: solid;
    border-width: 1px;
    border-color: #a6a6a6;
}

.suivant2 {
    width: 200px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#ffb366, #ff9933);
    margin-top: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 10px 20px;
    font: normal 600 24px "ubuntu", sans-serif;
    cursor: pointer;
    margin-bottom: 50px;
    border: 0px;
}

@media screen and (max-width: 1100px) {
    p {
        font: normal 300 16px "Calibri", sans-serif;
    }
    .imgFormAdvisor {
        height: 60px;
        margin-left: 15px;
    }
}

.confirmation {
    display: none;
}

.suivant5 {
    width: 200px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#ffb366, #ff9933);
    margin-top: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 10px 20px;
    font: normal 600 24px "ubuntu", sans-serif;
    cursor: pointer;
}

.merci {
    margin-top: 100px;
    font-size: 30px;
    color: cornflowerblue;
}

.recap {
    font-weight: bold;
}

.suivant3 {
    width: 200px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#ffb366, #ff9933);
    margin-top: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 12px 20px;
    font-size: 24px;
    font: normal 700 24px/1 "Calibri", sans-serif;
    cursor: pointer;
}

.modifier {
    width: 150px;
    height: 35px;
    background: #3d85c6;
    background: linear-gradient(#ffb366, #ff9933);
    margin-top: 50px;
    border-radius: 7px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 6px 20px;
    font: normal 600 18px "ubuntu", sans-serif;
    cursor: pointer;
}