body {
    background-color: cornflowerblue;
}

.row {
    margin-top: 30px;
    text-align: center;
}

.row2 {
    text-align: left;
}

.bandeHautBlanche {
    width: 100%;
    height: auto;
    background-color: white;
}

.imgPoleEmploi {
    width: 150px;
    top: 20px;
}

.imgCrif {
    width: 150px;
    top: 80px;
}

.imgFormAdvisor {
    height: 80px;
    margin-left: 20px;
}

.titreModeration {
    font: normal 900 36px "Calibri", sans-serif;
}

.fondBlanc1 {
    height: 650px;
    background-color: white;
}

@media screen and (max-width: 766px) {
    .fondBlanc1 {
        height: 800px;
    }
}

@media screen and (max-width: 505px) {
    .fondBlanc1 {
        height: 900px;
    }
}

@media screen and (max-width: 318px) {
    .fondBlanc1 {
        height: 1100px;
    }
}

#texteBienvenue1 {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: cornflowerblue;
}

#texteBienvenue2 {
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: cornflowerblue;
}

#texteBienvenue3 {
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: cornflowerblue;
}

.intitule {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.boucherCharcutier {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: black;
}

.centre {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: black;
}

.centreDeFormation {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.date {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: black;
}

.dateDeFormation {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.exacte {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.signaler {
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.confirmationInfos {
    margin-top: 30px;
    position: absolute;
    font-size: 32px;
    color: white;
}

.suivant {
    width: 220px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#ffb366, #ff9933);
    margin-top: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


@media screen and (max-width: 404px) {
    .fondBlanc1 {
        height: 1000px;
    }
    .suivant {
        width: 160px;
        height: 45px;
        padding: 10px 20px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
    }
}


/**************************************************************page 2*****************************************************/


/****************************************************************page 3************************************************/


/****************************************************page admin***********************************************************/

.fondBlancMenu {
    background-color: white;
}

.titrePageAdmin {
    margin-top: 20px;
    color: white;
    font: normal 400 28px "Calibri", sans-serif;
}

.fondBlanc5 {
    height: auto;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.listeAvis {
    text-align: left;
}

#titreComm {
    font-size: 20px;
    font-weight: bold;
}


/*********************************************contact*******************************************************************/

#gauche {
    text-align: left;
}


/*******************************************page refus**********************************************************************/

.titreRefus {
    text-align: center;
    font: normal 400 28px "Calibri", sans-serif;
}

.suivant4 {
    width: 200px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#ffb366, #ff9933);
    margin-top: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 12px 20px;
    font-size: 24px;
    font: normal 700 24px/1 "Calibri", sans-serif;
    cursor: pointer;
}