body {
    background-color: cornflowerblue;
}

.fondBlanc1,
.fondBlanc2,
.fondBlanc3 {
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    min-height: 100vh;
    background-color: #fff;
}

.imgFormAdvisor {
    height: 80px;
    margin-left: 20px;
}

.imgPoleEmploi {
    width: 150px;
    top: 20px;
}

.imgCrif {
    width: 150px;
    top: 80px;
}

.imgPoleEmploi {
    width: 150px;
    top: 20px;
}

.imgCrif {
    width: 150px;
    top: 80px;
}

.imgFormAdvisor {
    height: 80px;
    margin-left: 20px;
}

.titrePage2 {
    font-family: 'Ubuntu', sans-serif;
    color: #0066cc;
    margin-left: 25px;
    font-size: 22px;
    font-weight: bold;
}

#texteBienvenue1 {
    margin-left: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #0066cc;
    font-weight: bold;
}

.fondGris {
    width: 684px;
    height: auto;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-left: 18px;
    margin-right: 18px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.rating-input {
    display: none;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
    cursor: pointer;
}

.rating-star,
.rating:hover .rating-star {
    float: right;
    width: 16px;
    height: 16px;
    background: url('img/star.png') 0 -16px;
}


/***************************************************************************/

.rating-input2 {
    display: none;
}

.rating2:hover .rating-star2:hover,
.rating2:hover .rating-star2:hover ~ .rating-star2,
.rating-input2:checked ~ .rating-star2 {
    background-position: 0 0;
    cursor: pointer;
}

.rating-star2,
.rating2:hover .rating-star2 {
    float: right;
    width: 16px;
    height: 16px;
    background: url('img/star.png') 0 -16px;
}


/*******************************************************************************/

.rating-input3 {
    display: none;
}

.rating3:hover .rating-star3:hover,
.rating3:hover .rating-star3:hover ~ .rating-star3,
.rating-input3:checked ~ .rating-star3 {
    background-position: 0 0;
    cursor: pointer;
}

.rating-star3,
.rating3:hover .rating-star3 {
    float: right;
    width: 16px;
    height: 16px;
    background: url('img/star.png') 0 -16px;
}


/*****************************************************************************/

.rating-input4 {
    display: none;
}

.rating4:hover .rating-star4:hover,
.rating4:hover .rating-star4:hover ~ .rating-star4,
.rating-input4:checked ~ .rating-star4 {
    background-position: 0 0;
    cursor: pointer;
}

.rating-star4,
.rating4:hover .rating-star4 {
    float: right;
    width: 16px;
    height: 16px;
    background: url('img/star.png') 0 -16px;
}


/*****************************************************************************/

.rating-input5 {
    display: none;
}

.rating5:hover .rating-star5:hover,
.rating5:hover .rating-star5:hover ~ .rating-star5,
.rating-input5:checked ~ .rating-star5 {
    background-position: 0 0;
    cursor: pointer;
}

.rating-star5,
.rating5:hover .rating-star5 {
    float: right;
    width: 16px;
    height: 16px;
    background: url('img/star.png') 0 -16px;
}


/*******************************************************************************/

.rating-input6 {
    display: none;
}

.rating6:hover .rating-star6:hover,
.rating6:hover .rating-star6:hover ~ .rating-star6,
.rating-input6:checked ~ .rating-star6 {
    background-position: 0 0;
    cursor: pointer;
}

.rating-star6,
.rating6:hover .rating-star6 {
    float: right;
    width: 16px;
    height: 16px;
    background: url('img/star.png') 0 -16px;
}


/********************************************************************************/

.rating-input7 {
    display: none;
}

.rating7:hover .rating-star7:hover,
.rating7:hover .rating-star7:hover ~ .rating-star7,
.rating-input7:checked ~ .rating-star7 {
    background-position: 0 0;
    cursor: pointer;
}

.rating-star7,
.rating7:hover .rating-star7 {
    float: right;
    width: 16px;
    height: 16px;
    background: url('img/star.png') 0 -16px;
}


/********************************************************************************/

p {
    font-family: "ubuntu";
    color: #0073e6;
    font-weight: 600;
    font-size: 14px;
}

.aide1,
.aide2,
.aide3,
.aide4 {
    font-size: 12px;
    cursor: pointer;
}

.texteAide1,
.texteAide2,
.texteAide3,
.texteAide4 {
    font-size: 12px;
    color: black;
    display: none;
}

.noteGlobale {
    font: normal 400 22px "ubuntu", sans-serif;
}

.etapeSuivante {
    margin-left: 250px;
    width: 220px;
    height: 50px;
    background-color: #0059b3;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

.pouvezVous {
    font: normal 400 20px "ubuntu", sans-serif;
    color: #0066cc;
    margin-left: 16px;
}

.nonObligatoire {
    font: normal 400 16px "ubuntu", sans-serif;
    color: #0066cc;
}

.titre2{
    margin-left: 28px;
}

.titreComm {
    resize: none;
    width: 626px;
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    border-radius: 3px;
    margin-left: 28px;
}

.champ {
    resize: none;
    width: 626px;
    margin-left: 28px;
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    border-radius: 3px;
}

.injure {
    text-align: right;
    margin-right: 30px;
    font-size: 12px;
    color: black;
}
.retour {
    width: 140px;
    height: 50px;
    background-color: white;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    color: #0059b3;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: #0059b3;
}

.suivant5 {
    width: 140px;
    height: 50px;
    background-color: #0059b3;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

.merci {
    margin-top: 100px;
    font-size: 30px;
    color: cornflowerblue;
    margin-left: 18px;
}

.star1,
.star2,
.star3,
.star4,
.star5,
.star6,
.star7 {
    width: 100px;
}

.fondBlanc4 {
    height: auto;
    background-color: white;
    width: 604px;
    margin-left: 36px;
    border-radius: 5px;
}

.bas {
    margin-top: 6px;
    margin-left: 12px;
}
.bas2 {
    margin-left: 10px;
}

.pseudo {
    margin-left: 36px;
    width: 604px;
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    border-radius: 3px;
    margin-top: 10px;
}

.suivant2 {
    width: 200px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#ffb366, #ff9933);
    margin-top: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 10px 20px;
    font: normal 600 24px "ubuntu", sans-serif;
    cursor: pointer;
    margin-bottom: 50px;
    border: 0px;
}

@media screen and (max-width: 1100px) {
    
}

.confirmation {
    display: none;
}



.cochant {
    margin-left: -40px;
    color: #0066cc;
    font-size: 13px;
}

.retour2 {
    width: 190px;
    height: 50px;
    background-color: white;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    color: #0059b3;
    padding: 11px 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: #0059b3;
}

.suivant6 {
    width: 190px;
    height: 50px;
    background-color: #0059b3;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 11px 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

button {
    border-width: 0px;
}

.lololo,
.star1,
.star2,
.star3,
.star4,
.star5,
.star6,
.star7 {
    width: 100px;
}

.recap {
    font-weight: bold;
}

.suivant3 {
    width: 200px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#ffb366, #ff9933);
    margin-top: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 12px 20px;
    font-size: 24px;
    font: normal 700 24px/1 "Calibri", sans-serif;
    cursor: pointer;
}

.modifier {
    width: 150px;
    height: 35px;
    background: #3d85c6;
    background: linear-gradient(#ffb366, #ff9933);
    margin-top: 50px;
    border-radius: 7px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 6px 20px;
    font: normal 600 18px "ubuntu", sans-serif;
    cursor: pointer;
}

.titreRefus{
    font-size: 20px;
    font-family: "ubuntu";
}