body {
    background-color: #6495ed;
}

.fondBlanc1 {
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    min-height: 100vh;
    background-color: #fff;
}

.imgFormAdvisor {
    height: 80px;
    margin-left: 20px;
}

.imgPoleEmploi {
    width: 150px;
    top: 20px;
}

.imgCrif {
    width: 150px;
    top: 80px;
}

#texteBienvenue1 {
    margin-left: 35px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: cornflowerblue;
}

#nom {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: cornflowerblue;
}

.fondGris {
    width: 684px;
    height: 180px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-left: 18px;
    margin-right: 18px;
}

.formation {
    margin-left: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
   color: cornflowerblue;
}

.formationB {
    margin-top: 200px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: cornflowerblue;
}

.suivant {
    margin-left: 250px;
    width: 220px;
    height: 50px;
    background-color: #0059b3;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}







.titreModeration {
    font: normal 900 36px "Calibri", sans-serif;
}

@media screen and (max-width: 766px) {}

@media screen and (max-width: 505px) {}

@media screen and (max-width: 318px) {}




.centre {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: black;
}

.centreDeFormation {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.date {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: black;
}

.dateDeFormation {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.exacte {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.signaler {
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.confirmationInfos {
    margin-top: 30px;
    position: absolute;
    font-size: 32px;
    color: white;
}


@media screen and (max-width: 404px) {
    .fondBlanc1 {
        height: 1000px;
    }
    .suivant {
        width: 160px;
        height: 45px;
        padding: 10px 20px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
    }
}


/**************************************************************page 2*****************************************************/


/****************************************************************page 3************************************************/


/****************************************************page admin***********************************************************/

.fondBlancMenu {
    background-color: white;
}

.titrePageAdmin {
    margin-top: 20px;
    color: white;
    font: normal 400 28px "Calibri", sans-serif;
}

.fondBlanc5 {
    height: auto;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.listeAvis {
    text-align: left;
}

#titreComm {
    font-size: 20px;
    font-weight: bold;
}


/*********************************************contact*******************************************************************/

#gauche {
    text-align: left;
}


/*******************************************page refus**********************************************************************/

.titreRefus {
    text-align: center;
    font: normal 400 28px "Calibri", sans-serif;
}

.suivant4 {
    width: 200px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#ffb366, #ff9933);
    margin-top: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 12px 20px;
    font-size: 24px;
    font: normal 700 24px/1 "Calibri", sans-serif;
    cursor: pointer;
}