doctype html(lang='fr')
head
    meta(charset='UTF-8')
    title Administration
    //link(rel='stylesheet', type='text/css', href='index.css')
  body
    script(src='jquery.js')
    script(src='admin.js')
    h1 Liste de la base de donnée en attente de validation
    #liste