/*.firstDiv {
    position: absolute;
    top: 60px;
    left: 100px;
    
}
.secondDiv {
    position: absolute;
    top: 120px;
    left: 100px;
}
.thirdDiv {
    position: absolute;
    top: 240px;
    left: 100px;
}
.fourDiv {
    top: 370px;
    position: absolute;
    left: 100px;
}

.firstDivError {
    top: 90px;
    left: 280px;
    width: 400px;
    height: 20px;
    position: absolute;
}
.secondDivError {
    width: 400px;
    height: 20px;
    top: 145px;
    left: 475px;
    position: absolute;
}*/