doctype html(lang='fr')
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content="La formation vise à acquérir, compléter, actualiser, consolider et/ou développer des compétences professionnelles et salariales en terme : de savoir - faire professionnel, savoir - être salarial, savoir vivre et sociabilité, Savoir agir, savoir devenir. Au terme de la formation l'apprenant aura les ...")
    title Commentaire
    link(href='bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='index.css')
    link(rel='stylesheet', href='test.css', type='text/css')
    link(rel='stylesheet', href='test2.css', type='text/css')
    link(rel='stylesheet', href='test3.css', type='text/css')
    link(rel='stylesheet', href='test4.css', type='text/css')
    link(rel='icon', type='image/png', href='/img/favicon.png')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='index.js')
    //script(src='js/bootstrap.min.js')
    
  body
  
    .beta Version B&ecirc;ta
    | &#x9;&#x9;
    .container-fluid
      .row.section-header
        .col-md-12
          .row
            .col-md-10.col-md-offset-1
              .logo(onclick="window.location.href='/';")
                table
                  tr
                    td
                      .img-logolbf

                    td
                      .img-logope

              .logo.cobranding-intercarif.pull-right.hidden-xs
                | En partenariat avec
                br

                a(href='http://www.intercariforef.org/reseau/', target='_blank')
                  img(src='/img/logo-intercarif.png', alt="Accès au site des formations de l'Intercarif")

              .page-title.hidden-xs(style='float:left;')
                span.highlight Recherchez une formation efficace
                br
                | et d&eacute;couvrez les financements possibles

      .row.section-content
        .col-md-12
          .row.section-body
            .col-md-12
              .row
                .col-md-10.col-md-offset-1(style='margin-top:-80px;')
                  .row
                    .col-md-6(style='text-align:left;')
                      a#backlink.followlink(href='/toutes-les-formations/roanne-42') &lt; Retour aux offres de formations
                    // <div class="col-md-4"></div>
                    .col-md-6(style='text-align:right;')
                      a#pred-link.followlink(href='') &lt; Formation pr&eacute;c&eacute;dente
                      | &#x9;&#x9;&#x9;&nbsp;&nbsp;

                      a#next-link.followlink(href='') Formation suivante &gt;

              .row
                .col-md-10.col-md-offset-1.content
                  .row.title
                    .col-md-6.header
                      h1 Assistant(e) commercial(e)
                      | &#x9;&#x9;&#x9;
                      span.orga
                        | ORGANISME 
                        strong
                          | Centre Roannais pour la formation permanente
                          | (CERFOP)

                    .col-md-6(style='text-align:right;')

                  .row
                    .col-md-12.tabs
                      ul.nav.nav-tabs
                        li.onglet.active

                              
                       
                          .col-md-12
                            .row
                              .col-md-6.vertical-sep
                                .row
                                  .col-md-12
                                    h2 NIVEAU DE RETOUR À L'EMPLOI

                                    
                                       p Le niveau de retour à l'emploi des stagiaires ayant suivi cette formation durant les 18 derniers mois dans ma région est excellent 
                                    .chapiter(style='margin-top:0;margin-bottom:0;')
                                        
                                    .col-md-12
                                        br
                                        h2 VOTRE PSEUDO
                                        form(method='post', action='/sendInformation')
                                            div.firstDiv
                                                textarea#tag.champ(type='text' name='tag' maxlength='20' placeholder='Entrez votre pseudo ici' style='resize:none;' cols='30' rows='1')
                                                br
                                            div.firstDivError
                                        h2 VOTRE COMMENTAIRE SUR LA FORMATION
                                        div.secondDiv
                                            textarea#comm.champ(type='text', name='commentary', cols='50', rows='4', placeholder='Entrez votre commentaire ici', style='resize:none;')
                                        div.secondDivError
                                        br
                                        br
                                        div.thirdDiv
                                        p Votre note sur 5
                                        input(type='radio' name='note' value='1')
                                        img#star.number1(src='img/yellow_star.png' height='20')
                                        img#star.number2(src='img/etoile.png' height='20')
                                        img#star.number3(src='img/etoile.png' height='20')
                                        img#star.number4(src='img/etoile.png' height='20')
                                        img#star.number5(src='img/etoile.png' height='20') 
                                        |   Très Mauvais
                                        br
                                        input(type='radio' name='note' value='2')
                                        img#star.number1(src='img/yellow_star.png' height='20')
                                        img#star.number1(src='img/yellow_star.png' height='20')
                                        img#star.number3(src='img/etoile.png' height='20')
                                        img#star.number4(src='img/etoile.png' height='20')
                                        img#star.number5(src='img/etoile.png' height='20')
                                        |   Mauvais
                                        br
                                        input(type='radio' name='note' value='3')
                                        img#star.number1(src='img/yellow_star.png' height='20')
                                        img#star.number1(src='img/yellow_star.png' height='20')
                                        img#star.number1(src='img/yellow_star.png' height='20')
                                        img#star.number4(src='img/etoile.png' height='20')
                                        img#star.number5(src='img/etoile.png' height='20')
                                        |   Moyen
                                        br
                                        input(type='radio' name='note' value='4')
                                        img#star.number1(src='img/yellow_star.png' height='20')
                                        img#star.number1(src='img/yellow_star.png' height='20')
                                        img#star.number1(src='img/yellow_star.png' height='20')
                                        img#star.number1(src='img/yellow_star.png' height='20')
                                        img#star.number5(src='img/etoile.png' height='20') 
                                        |   Bon
                                        br
                                        input(type='radio' name='note' value='5')
                                        img#star.number1(src='img/yellow_star.png' height='20')
                                        img#star.number1(src='img/yellow_star.png' height='20')
                                        img#star.number1(src='img/yellow_star.png' height='20')
                                        img#star.number1(src='img/yellow_star.png' height='20')
                                        img#star.number1(src='img/yellow_star.png' height='20') 
                                        |   Excellent
                                        br
                                        br
                                        div.fourDiv
                                            //input.azerty(type='submit', value='valider')
                                            input.azerty(type ='button', onclick='validation()', value='valider')
                                        br

                                    //h2 Cette formation sur mon march&eacute; du travail

                                .row
                                  .col-md-12
                                    .text-info
                                      h3 J&rsquo;interroge les employeurs sur cette formation&nbsp;:

                                      ul
                                        li &laquo;&nbsp;Quels conseils me donneriez-vous pour me former dans ce m&eacute;tier&nbsp;?&nbsp;&raquo;

                                        li
                                          | &laquo;&nbsp;Est-ce que cette formation permet d&rsquo;acqu&eacute;rir les comp&eacute;tences n&eacute;cessaires pour exercer ce m&eacute;tier &nbsp;?&nbsp;&raquo;

                                        li
                                          | &laquo;&nbsp;Pourriez-vous m&rsquo;accueillir pour une 
                                          a(target='_blank', href='http://www.pole-emploi.fr/candidat/realiser-une-immersion-professionnelle-en-entreprise-@/article.jspz?id=81296') immersion professionnelle
                                          |  avant la formation ou un stage pendant cette formation&nbsp;?&nbsp;&raquo;

                              .col-md-6
                                .row
                                  .col-md-12
                                    h2 &Eacute;VALUER L&apos;ORGANISME

                                    .text-info
                                      h3
                                        | J&apos;interroge l&apos;organisme de formation sur son appui avant, pendant et apr&egrave;s la formation&nbsp;:
 
                                      ul
                                        li
                                          | &laquo;&nbsp;Quels sont les profils des anciens stagiaires (niveau de formation, exp&eacute;rience professionnelle)&nbsp;?&nbsp;&raquo;

                                        li
                                          | &laquo;&nbsp;Quel type de public accueillez-vous en formation (salari&eacute;s, demandeurs d&rsquo;emploi, particuliers)&nbsp;?&nbsp;&raquo;

                                        li
                                          | &laquo;&nbsp;Peut-on obtenir une liste de ces anciens stagiaires pour les interroger sur cette formation&nbsp;?&nbsp;&raquo;

                                        li &laquo;&nbsp;Comment aidez-vous les stagiaires &agrave; trouver un emploi&nbsp;?&nbsp;&raquo;

                        .section-print.hidden-print.col-center
                          a.button.call.print(href='javascript:window.print();', title='Imprimer cette page') &nbsp;

      footer.row.section-footer
        .col-xs-10.col-xs-offset-1

        .col-xs-12.footer
          a(href='/conditions-generales-d-utilisation', target='_blank') Conditions g&eacute;n&eacute;rales d&apos;utilisation
          |  | 
          a(href='/foire-aux-questions', target='_blank') Foire aux questions
          |  | 
          a(href='mailto:labonneformation@pole-emploi.fr?subject=Je%20souhaite%20vous%20contacter') Nous contacter

    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='index.js')


    
    //form(method='post', action='/sendInformation')
        div.firstDiv
            label Pseudo
            br
            input#tag.champ(type='text' name='tag' maxlength='20' placeholder='Entrez votre pseudo ici')
        div.firstDivError
        br
        br
        div.secondDiv
            label Commentaire
            br
            textarea#comm.champ(type='text', name='commentary', cols='50', rows='4', placeholder='Entrez votre commentaire ici', style='resize:none;')
        div.secondDivError
        br
        br
        div.thirdDiv
            p Votre note sur 5
            input(type='radio' name='note' value='1')
            img#star.number1(src='img/yellow_star.png' height='30')
            img#star.number2(src='img/etoile.png' height='30')
            img#star.number3(src='img/etoile.png' height='30')
            img#star.number4(src='img/etoile.png' height='30')
            img#star.number5(src='img/etoile.png' height='30') 
            input(type='radio' name='note' value='2')
            img#star.number1(src='img/yellow_star.png' height='30')
            img#star.number1(src='img/yellow_star.png' height='30')
            img#star.number3(src='img/etoile.png' height='30')
            img#star.number4(src='img/etoile.png' height='30')
            img#star.number5(src='img/etoile.png' height='30') 
            input(type='radio' name='note' value='3')
            img#star.number1(src='img/yellow_star.png' height='30')
            img#star.number1(src='img/yellow_star.png' height='30')
            img#star.number1(src='img/yellow_star.png' height='30')
            img#star.number4(src='img/etoile.png' height='30')
            img#star.number5(src='img/etoile.png' height='30') 
            input(type='radio' name='note' value='4')
            img#star.number1(src='img/yellow_star.png' height='30')
            img#star.number1(src='img/yellow_star.png' height='30')
            img#star.number1(src='img/yellow_star.png' height='30')
            img#star.number1(src='img/yellow_star.png' height='30')
            img#star.number5(src='img/etoile.png' height='30') 
            input(type='radio' name='note' value='5')
            img#star.number1(src='img/yellow_star.png' height='30')
            img#star.number1(src='img/yellow_star.png' height='30')
            img#star.number1(src='img/yellow_star.png' height='30')
            img#star.number1(src='img/yellow_star.png' height='30')
            img#star.number1(src='img/yellow_star.png' height='30') 
            br
            br
        div.fourDiv
            //input.azerty(type='submit', value='valider')
            input.azerty(type ='button', onclick='validation()', value='valider')




    
   