/* /css/content.css */

body,
html {
    background-color: #D5E0EE;
    height: 100%;
}

.searchform input[type=submit],
.searchform input[type=text] {
    width: 100%;
}

.content {
    background-color: white;
    margin-top: -60px;
    border-radius: 5px;
}

.title {
    margin-top: 20px;
}

.orga {
    font-size: 10px;
    color: #6F839E;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: left;
}

.orga strong {
    font-size: 15px;
    color: #003173;
    font-weight: 700;
}

.tabs {
    padding: 0;
    margin-top: 20px;
}

.section-footer .footer {
    color: black;
}

.section-footer .footer a {
    color: #003173;
}


/* /css/detail.css */

h2 {
    padding: 10px 0 5px 0;
    font-size: 15px;
    color: #003173;
    letter-spacing: 2.3px;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
}

h3 {
    margin: 0;
}

#carte,
#carte2 {
    width: 80%;
    height: 200px;
}

.engine {
    display: none;
}

.tab-content {
    background: #F3F6FA;
}

.nav-tabs > li > a {
    border: 1px solid #ddd;
    color: rgba(0, 49, 115, .7);
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus {
    background-color: #F3F6FA !important;
    border-bottom-color: #F3F6FA;
    color: #003173;
}

.taux-reembauche {
    width: 137px;
    height: 70px;
}

.text-reembauche,
.text-organisme {
    font-size: 22px;
    color: #003173;
    line-height: 35px;
}

.text-organisme {
    font-size: 14px;
}

.text-info {
    background: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

.text-info h3 {
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 23px;
    margin-bottom: 20px;
}

.chapiter {
    padding-left: 10px;
}

.asterisk {
    display: none;
    font-size: 12px;
    color: #003173;
}

#asterisk-click {
    cursor: pointer;
}

strong {
    font-size: 15px;
    color: #003173;
    font-weight: 700;
}

.ad-section-header {
    margin-top: 1em;
}

.ad-section-header strong,
.ad-section-header i {
    line-height: 25px;
}

li {
    margin: 0 0 10px 0;
    padding: 0;
}

#pred-link,
#next-link {
    display: none;
}

.onglet {
    text-align: center;
}

.onglet .text {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
}

.onglet img {
    margin-bottom: .5em;
    -outline: 1px solid red;
}

.onglet #onglet-taux {
    -outline: 1px solid red;
    -width: 60px;
    height: 30px;
    margin: auto;
    margin-bottom: .5em;
    display: block;
}

.simulator {
    display: inline-block;
    margin-top: 60px;
    -background-color: #19C158;
}

.title .header {
    padding-left: 40px
}

#forma,
#stats {
    padding: 3em;
}

.section-print {
    padding: 40px;
    border-top: 1px dashed #ddd;
}

#ajaxstats {
    -text-align: center;
}

.rating-zone {
    margin: 1em 0;
}

.rate-start {
    margin-top: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#session-first {}

#session-list {
    display: none;
}