doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Ubuntu', rel='stylesheet')
    link(rel='stylesheet', href='./Mobile/indexMobile2.css')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='./Mobile/indexMobile2.js')
    title Version 0.5
  body
    .bandeHautBlanche
      img.imgFormAdvisor(src='img/formADVISOR.png')
      img.imgPoleEmploi(src='img/propulse.png')
      img.imgCrif(src='img/logo_crif.png')
    form(action='envoiInfo', method='post')
      .container-fluid
        .row2
          .col-lg-offset-1.col-lg-10
            .fondBlanc2
              br
              br
              .container-fluid
                .rows2
                  .col-md-offset-1.col-md-10
                    p.titrePage2 Votre avis sur la formation
                    br
              .container-fluid
                #preums.row2
                  .col-xs-12
                    p Accueil, réunion d'informations collectives, entretien à l'entrée en formation
              .container-fluid
                .rows2
                  .col-xs-12
                    span.rating
                      input#rating-input-1-1.rating-input(type='radio', name='avis1', value='5')
                      label#1_5.rating-star(for='rating-input-1-1')
                      input#rating-input-1-2.rating-input(type='radio', name='avis1', value='4')
                      label#1_4.rating-star(for='rating-input-1-2')
                      input#rating-input-1-3.rating-input(type='radio', name='avis1', value='3')
                      label#1_3.rating-star(for='rating-input-1-3')
                      input#rating-input-1-4.rating-input(type='radio', name='avis1', value='2')
                      label#1_2.rating-star(for='rating-input-1-4')
                      input#rating-input-1-5.rating-input(type='radio', name='avis1', value='1')
                      label#1_1.rating-star(for='rating-input-1-5')
              .container-fluid
                .rows2
                  .col-xs-12
                    p.appreciation1
                    p.appreciationValide1
              hr(size='1', color='blue')
              .container-fluid
                .row2
                  .col-xs-12
                    p
                      | Suivi pédagogique 
                      span.aide1 (?)
                    p.texteAide1
                      | Éléments à évaluer : Aide et soutien, entretiens individuels en cours de formation, tests et évaluation.
              .container-fluid
                .row2
                  .col-xs-12
                    span.rating2
                      input#rating-input-1-12.rating-input2(type='radio', name='avis2', value='5')
                      label#2_5.rating-star2(for='rating-input-1-12')
                      input#rating-input-1-22.rating-input2(type='radio', name='avis2', value='4')
                      label#2_4.rating-star2(for='rating-input-1-22')
                      input#rating-input-1-32.rating-input2(type='radio', name='avis2', value='3')
                      label#2_3.rating-star2(for='rating-input-1-32')
                      input#rating-input-1-42.rating-input2(type='radio', name='avis2', value='2')
                      label#2_2.rating-star2(for='rating-input-1-42')
                      input#rating-input-1-52.rating-input2(type='radio', name='avis2', value='1')
                      label#2_1.rating-star2(for='rating-input-1-52')
              .container-fluid
                .row2
                  .col-xs-12
                    p.appreciation2
                    p.appreciationValide2
              hr(size='1', color='blue')
              .container-fluid
                .row2
                  .col-xs-12
                    p
                      | Équipe formateurs 
                      span.aide2 (?)
                    p.texteAide2
                      | Prise en compte des difficultés, adaptation du contenu de la formation à vos besoins.
              .container-fluid
                .row2
                  .col-xs-12
                    span.rating3
                      input#rating-input-1-13.rating-input3(type='radio', name='avis3', value='5')
                      label#3_5.rating-star3(for='rating-input-1-13')
                      input#rating-input-1-23.rating-input3(type='radio', name='avis3', value='4')
                      label#3_4.rating-star3(for='rating-input-1-23')
                      input#rating-input-1-33.rating-input3(type='radio', name='avis3', value='3')
                      label#3_3.rating-star3(for='rating-input-1-33')
                      input#rating-input-1-43.rating-input3(type='radio', name='avis3', value='2')
                      label#3_2.rating-star3(for='rating-input-1-43')
                      input#rating-input-1-53.rating-input3(type='radio', name='avis3', value='1')
                      label#3_1.rating-star3(for='rating-input-1-53')
              .container-fluid
                .row2
                  .col-xs-12
                    p.appreciation3
                    p.appreciationValide3
              hr(size='1', color='blue')
              .container-fluid
                .row2
                  .col-xs-12
                    p
                      | Moyens matériels mis à disposition
                      span.aide3 (?)
                    p.texteAide3
                      | Salles de cours, documentation, plateaux techniques, ordinateurs…
              .container-fluid
                .row2
                  .col-xs-12
                    span.rating4
                      input#rating-input-1-14.rating-input4(type='radio', name='avis4', value='5')
                      label#4_5.rating-star4(for='rating-input-1-14')
                      input#rating-input-1-24.rating-input4(type='radio', name='avis4', value='4')
                      label#4_4.rating-star4(for='rating-input-1-24')
                      input#rating-input-1-34.rating-input4(type='radio', name='avis4', value='3')
                      label#4_3.rating-star4(for='rating-input-1-34')
                      input#rating-input-1-44.rating-input4(type='radio', name='avis4', value='2')
                      label#4_2.rating-star4(for='rating-input-1-44')
                      input#rating-input-1-54.rating-input4(type='radio', name='avis4', value='1')
                      label#4_1.rating-star4(for='rating-input-1-54')
              .container-fluid
                .row2
                  .col-xs-12
                    p.appreciation4
                    p.appreciationValide4
              hr(size='1', color='blue')
              .container-fluid
                .row2
                  .col-xs-12
                    p
                      | Accompagnement / Orientation 
                      span.aide4 (?)
                    p.texteAide4
                      | Stage, emploi, techniques de recherche d’emploi/stage, mise en relation et rencontres avec des entreprises.
              .container-fluid
                .row2
                  .col-xs-12
                    span.rating5
                      input#rating-input-1-15.rating-input5(type='radio', name='avis5', value='5')
                      label#5_5.rating-star5(for='rating-input-1-15')
                      input#rating-input-1-25.rating-input5(type='radio', name='avis5', value='4')
                      label#5_4.rating-star5(for='rating-input-1-25')
                      input#rating-input-1-35.rating-input5(type='radio', name='avis5', value='3')
                      label#5_3.rating-star5(for='rating-input-1-35')
                      input#rating-input-1-45.rating-input5(type='radio', name='avis5', value='2')
                      label#5_2.rating-star5(for='rating-input-1-45')
                      input#rating-input-1-55.rating-input5(type='radio', name='avis5', value='1')
                      label#5_1.rating-star5(for='rating-input-1-55')
              .container-fluid
                .row2
                  .col-xs-12
                    p.appreciation5
                    p.appreciationValide5
              hr(size='1', color='blue')
              .container-fluid
                .row2
                  .col-xs-12
                    p
                      | Recommanderiez-vous cette formation ? 
              .container-fluid
                .row2
                  .col-xs-12
                    span.rating6
                      input#rating-input-1-16.rating-input6(type='radio', name='avis6', value='5')
                      label#6_5.rating-star6(for='rating-input-1-16')
                      input#rating-input-1-26.rating-input6(type='radio', name='avis6', value='4')
                      label#6_4.rating-star6(for='rating-input-1-26')
                      input#rating-input-1-36.rating-input6(type='radio', name='avis6', value='3')
                      label#6_3.rating-star6(for='rating-input-1-36')
                      input#rating-input-1-46.rating-input6(type='radio', name='avis6', value='2')
                      label#6_2.rating-star6(for='rating-input-1-46')
                      input#rating-input-1-56.rating-input6(type='radio', name='avis6', value='1')
                      label#6_1.rating-star6(for='rating-input-1-56')
              .container-fluid
                .row2
                  .col-xs-12
                    p.appreciation6
                    p.appreciationValide6
              hr(size='1', color='blue')
              .container-fluid
                #preums.row2
                  .col-md-offset-1.col-xs-11
                    p.noteGlobale Votre note globale
              .container-fluid
                .row2
                  .col-xs-12
                    span.rating7
                      input#rating-input-1-17.rating-input7(type='radio', name='avisGeneral', value='5')
                      label#7_5.rating-star7(for='rating-input-1-17')
                      input#rating-input-1-27.rating-input7(type='radio', name='avisGeneral', value='4')
                      label#7_4.rating-star7(for='rating-input-1-27')
                      input#rating-input-1-37.rating-input7(type='radio', name='avisGeneral', value='3')
                      label#7_3.rating-star7(for='rating-input-1-37')
                      input#rating-input-1-47.rating-input7(type='radio', name='avisGeneral', value='2')
                      label#7_2.rating-star7(for='rating-input-1-47')
                      input#rating-input-1-57.rating-input7(type='radio', name='avisGeneral', value='1')
                      label#7_1.rating-star7(for='rating-input-1-57')
              .container-fluid
                .row2
                  .col-xs-12
                    p.appreciation7
                    p.appreciationValide7
      .container-fluid
        .row2
          .col-lg-offset-2.col-lg-8
            .fondBlanc3
              br
              .container-fluid
                .row2
                  .col-md-12
                    p.pouvezVous
                      | Pouvez-vous nous dire quelques mots sur votre formation ? 
                      span.nonObligatoire Non obligatoire
              br
              br
              .container-fluid
                .row2
                  .col-md-10
                    input.pseudo(type='text', name='pseudo', rows='1', placeholder="Entrez votre pseudo ici", maxlength='30')
                    br
                    br
                    textarea.titreComm(type='text', name='titreCommentaire', rows='1', placeholder="Entrez votre titre ici. Exemple : C'était vraiment chouette.", maxlength='60')
                    br
                    br
                    textarea#tag.champ(type='text', name='commentaire', rows='6', placeholder='Entrez votre commentaire ici', maxlength='200')
                    p.nombreCharactere
              br
              .container-fluid
                .row2
                  .col-md-10
                    input(type='checkbox', name='accord', value='true')
                    label.cochant 
                    |  En cochant cette case, j'autorise les futurs élèves à me contacter pour d'éventuelles questions.
              .container-fluid
                .row2
                  .col-sm-offset-4.col-sm-4
                    .suivant5 Suivant
      .confirmation
        .container-fluid
          .row2
            .col-sm-offset-1.col-sm-10
              .fondBlanc4
                br
                br
                .col-sm-12
                  p.merci
                    | Merci d'avoir donné votre avis
                    br
                    br
                .container-fluid
                  .row2
                    .col-sm-12
                     p.recap Récapitulatif de votre avis
                     br
                     br
                .container-fluid
                  .row2
                    .col-sm-12
                      p Accueil, informations collectives, entretien à l'entrée en formation
                .container-fluid
                  .row2
                    .col-sm-12
                      br
                      p.appreciationValide1
                hr(size='1', color='blue')      
                .container-fluid
                  .row2
                    .col-sm-12
                      p Suivi pédagogique
                .container-fluid
                  .row2
                    .col-sm-12
                      br
                      p.appreciationValide2
                hr(size='1', color='blue')
                .container-fluid
                  .row2
                    .col-sm-12
                      p Équipe formateurs 
                .container-fluid
                  .row2
                    .col-sm-12
                      br
                      p.appreciationValide3
                hr(size='1', color='blue')
                .container-fluid
                  .row2
                    .col-sm-12
                      p Moyens matériels 
                .container-fluid
                  .row2
                    .col-sm-12
                      br
                      p.appreciationValide4
                hr(size='1', color='blue')
                .container-fluid
                  .row2
                    .col-sm-12
                      p Accompagnement / Orientation 
                .container-fluid
                  .row2
                    .col-sm-12
                      br
                      p.appreciationValide5
                hr(size='1', color='blue')
                .container-fluid
                  .row2
                    .col-sm-12
                      p Recommanderiez-vous cette formation ? 
                .container-fluid
                  .row2
                    .col-sm-12
                      br
                      p.appreciationValide6
                hr(size='1', color='blue')
                .container-fluid
                  .row2
                    .col-sm-12
                      p Satisfaction générale
                .container-fluid
                  .row2
                    .col-sm-12
                      br
                      p.appreciationValide7
                hr(size='1', color='blue')
                .container-fluid
                  .row2
                    .col-sm-12
                      p.valuePseudo
                      br
                .container-fluid
                  .row2
                    .col-sm-12
                      p.valueTitreComm
                .container-fluid
                  .row2
                    .col-sm-12
                      p.valueComm
                .container-fluid
                  .row2
                    .col-sm-offset-1.col-sm-3
                      .modifier Modifier
                    .col-sm-offset-1.col-sm-4
                      button.suivant2(type='submit', value='Submit') Valider
