doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Ubuntu', rel='stylesheet')
    link(rel='stylesheet', href='./Mobile/indexMobile1.css')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='./Mobile/indexMobile1.js')
    title Version 0.5
  body
    .bandeHautBlanche
      img.imgFormAdvisor(src='img/formADVISOR.png')
      img.imgPoleEmploi(src='img/propulse.png')
      img.imgCrif(src='img/logo_crif.png')
    .container-fluid
      .row2
        .col-md-offset-2.col-md-8
          .fondBlanc1
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-5
                  p#texteBienvenue1 Bienvenue
                .col-sm-offset-1.col-sm-5
                  p#texteBienvenue1= name
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-11
                  p#texteBienvenue3 Ici, vous pourrez donner un avis sur votre formation
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-11
                  p#texteBienvenue2 Ceci ne vous prendra qu'un petit instant
                  br
                  br
            .container-fluid
              .row2
                .col-sm-offset-2.col-sm-10
                  p.boucherCharcutier Formation
            .container-fluid
              .row2
                .col-xs-offset-2.col-xs-8
                  p.intitule= formationName
            hr(size='1', color='blue')
            .container-fluid
              .row2
                .col-sm-offset-2.col-sm-10
                  p.centre Centre
            .container-fluid
              .row2
                .col-xs-offset-2.col-xs-8
                  p.centreDeFormation= formationPlace
            hr(size='1', color='blue')
            .container-fluid
              .row2
                .col-sm-offset-2.col-sm-10
                  p.date Date
            .container-fluid
              .row2
                .col-xs-offset-2.col-xs-8
                  p.dateDeFormation= beginDate
            hr(size='1', color='blue')
            .container-fluid
              .row2
                .col-xs-offset-1.col-xs-11
                  p.exacte
                    | Ces informations ne sont pas exactes ? 
                    span.signaler Signaler
            .container-fluid
              .row2
                .col-md-offset-4.col-md-4
                  .suivant Donner votre avis
