body {
    background-color: cornflowerblue;
}

.bandeHautBlanche {
    width: 100%;
    height: auto;
    background-color: white;
}

.imgPoleEmploi {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
}

.imgCrif {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
}

.imgFormAdvisor {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

.fondBlanc1 {
    height: auto;
    background-color: white;
}

#texteBienvenue1 {
    margin-top: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: cornflowerblue;
}

#texteBienvenue2 {
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: cornflowerblue;
}

#texteBienvenue3 {
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: cornflowerblue;
}

.intitule {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.boucherCharcutier {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: black;
}

.centre {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: black;
}

.centreDeFormation {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.date {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: black;
}

.dateDeFormation {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.exacte {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.signaler {
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.confirmationInfos {
    margin-top: 30px;
    position: absolute;
    font-size: 32px;
    color: white;
}

.suivant {
    width: 220px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#ffb366, #ff9933);
    margin-top: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 50px;
}