doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Ubuntu', rel='stylesheet')
    link(rel='stylesheet', href='./Mobile/indexMobile3.css')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='./Mobile/indexMobile3.js')
    title Version 0.5
  body
    .bandeHautBlanche
      img.imgFormAdvisor(src='img/formADVISOR.png')
      img.imgPoleEmploi(src='img/propulse.png')
      img.imgCrif(src='img/logo_crif.png')
    .container-fluid
      .row2
        .col-sm-offset-1.col-sm-10
          .fondBlanc4
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-10
                  p.merci
                    | Merci d'avoir donné votre avis. Vous serez prévenu par mail lors de sa disponibilité sur nos sites partenaires.
                    br
                
