doctype html(lang='fr')
head
    meta(charset='utf-8')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='admin.js')
    link(rel='stylesheet', href='admin.css')
body
    h1 Page d'admin
    input.laValidation(type='submit', value='accepter ce commentaire (le plus ancien)')
    input.laSuppression(type='submit', value='supprimer ce commentaire (le plus ancien)')
    .listeAvis
    .listeButton
    