body {
    background-color: cornflowerblue;
}

.row {

    margin-top: 30px;
    text-align: center;
}

.row2 {
    text-align: left;
}

.bandeHautBlanche {
    width: 100%;
    height: auto;
    background-color: white;
}

.imgLbf {
    width: 120px;
    top: 30px;
}

.imgPoleEmploi {
    width: 150px;
    top: 20px;
    display:block;
    margin:auto;
}

.imgCrif {
    width: 150px;
    top: 80px;
    display:block;
    margin:auto;
}

.imgFormAdvisor {
    height: 80px;
}

#texteBienvenue1 {
    margin-top: 60px;
    font-size: 32px;
    color: white;
}

#texteBienvenue2 {
    margin-top: 30px;
    font-size: 32px;
    color: white;
}

#texteBienvenue3 {
    margin-top: 30px;
    font-size: 32px;
    color: white;
}

.fondBlanc1 {
    height: auto;
    background-color: white;
    margin-top: 60px;
    border-radius: 10px;
    padding-bottom: 30px;
}

.titreVotreFormation {
    margin-top: 32px;
    font-size: 32px;
    color: white;
    position: absolute;
}

.intitule {

    margin-top: 30px;
    font-size: 30px;
    color: cornflowerblue;
}

.boucherCharcutier {

    margin-top: 30px;
    font-size: 30px;
    color: cornflowerblue;
}

.centre {

    margin-top: 30px;
    font-size: 30px;
    color: cornflowerblue;
}

.centreDeFormation {

    margin-top: 30px;
    font-size: 30px;
    color: cornflowerblue;
}

.date {

    margin-top: 30px;
    font-size: 30px;
    color: cornflowerblue;
}

.dateDeFormation {

    margin-top: 30px;
    font-size: 30px;
    color: cornflowerblue;
}

.exacte{
    margin-top: 30px;
    font-size: 14px;
}

.signaler {
    text-decoration: underline;
    cursor: pointer;
}

.confirmationInfos {
    margin-top: 30px;
    position: absolute;
    font-size: 32px;
    color: white;
}

.suivant {
    width: 220px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#5a86d5, #4668a5);
    margin-top: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 12px 20px;
    font-size: 24px;
    font: normal 700 24px/1 "Calibri", sans-serif;
    cursor: pointer;
}

/*******************************page 3*****************************/

/* Voir index3.css */

/*********************************page 4****************************/

.merci {
    margin-top: 180px;
    font-size: 30px;
    color: cornflowerblue;
    color: white;
}

.suivant4 {
    width: 200px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#5a86d5, #4668a5);
    margin-top: 270px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 12px 20px;
    font-size: 24px;
    font: normal 700 24px/1 "Calibri", sans-serif;
    cursor: pointer;
}


.fondBlanc {
    height: 480px;
    background-color: white;
    margin-top: 100px;
    border-radius: 10px;
}