.fondBlanc2 {
    height: auto;
    padding-bottom: 80px;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
}

.titreAvisFormation {
    margin-top: 30px;
    font-size: 36px;
    color: white;
}

#tag {
    border-color: cornflowerblue;
    width: 70%;
}

p {
    font-size: 20px;
    font: normal 700 20px/1 "Calibri", sans-serif;
    color: #0052cc;
}

#margeHaut1 {
    margin-top: 40px;
}

#tag {
    margin-top: 20px;
}

#erreur1 {
    color: red;
    font-size: 16px;
}

#erreur2 {
    color: red;
    font-size: 16px;
}

#erreur3 {
    color: red;
    font-size: 16px;
}

#erreur4 {
    color: red;
    font-size: 16px;
}

#erreur5 {
    color: red;
    font-size: 16px;
}

.suivant2 {
    width: 200px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#5a86d5, #4668a5);
    margin-top: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 12px 20px;
    font-size: 24px;
    font: normal 700 24px/1 "Calibri", sans-serif;
    cursor: pointer;
    margin-bottom: 100px;
    border-style: none;
}

.cochant {
    font: normal 700 16px/1 "Calibri", sans-serif;
    color: #0052cc;
}

/**********************************radio1*************************************/


#radio1{
    display: none;
}

#radio1 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/1star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
}


#radio1:checked + label{
    background-color: #ccebff;
}

#radio2{
    display: none;
}

#radio2 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/2star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
    margin-left: 10px;
}


#radio2:checked + label{
    background-color: #ccebff;
}

#radio3{
    display: none;
}

#radio3 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/3star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
    margin-left: 10px;
}


#radio3:checked + label{
    background-color: #ccebff;
}

#radio4{
    display: none;
}

#radio4 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/4star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
    margin-left: 10px;
}


#radio4:checked + label{
    background-color: #ccebff;
}





/********************************radio2****************************************************/




#radio21{
    display: none;
}

#radio21 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/1star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
}


#radio21:checked + label{
    background-color: #ccebff;
}

#radio22{
    display: none;
}

#radio22 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/2star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
    margin-left: 10px;
}


#radio22:checked + label{
    background-color: #ccebff;
}


#radio23{
    display: none;
}

#radio23 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/3star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
    margin-left: 10px;
}


#radio23:checked + label{
    background-color: #ccebff;
}

#radio24{
    display: none;
}

#radio24 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/4star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
    margin-left: 10px;
}


#radio24:checked + label{
    background-color: #ccebff;
}



/********************************radio3****************************************************/




#radio31{
    display: none;
}

#radio31 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/1star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
}


#radio31:checked + label{
    background-color: #ccebff;
}

#radio32{
    display: none;
}

#radio32 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/2star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
    margin-left: 10px;
}


#radio32:checked + label{
    background-color: #ccebff;
}

#radio33{
    display: none;
}

#radio33 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/3star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
    margin-left: 10px;
}


#radio33:checked + label{
    background-color: #ccebff;
}

#radio34{
    display: none;
}

#radio34 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/4star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
    margin-left: 10px;
}


#radio34:checked + label{
    background-color: #ccebff;
}


/********************************radio4****************************************************/




#radio41{
    display: none;
}

#radio41 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/1star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
}


#radio41:checked + label{
    background-color: #ccebff;
}

#radio42{
    display: none;
}

#radio42 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/2star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
    margin-left: 10px;
}


#radio42:checked + label{
    background-color: #ccebff;
}

#radio43{
    display: none;
}

#radio43 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/3star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
    margin-left: 10px;
}


#radio43:checked + label{
    background-color: #ccebff;
}


#radio44{
    display: none;
}

#radio44 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/4star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
    margin-left: 10px;
}


#radio44:checked + label{
    background-color: #ccebff;
}



/********************************radio5****************************************************/




#radio51{
    display: none;
}

#radio51 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/1star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
}


#radio51:checked + label{
    background-color: #ccebff;
}

#radio52{
    display: none;
}

#radio52 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/2star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
    margin-left: 10px;
}


#radio52:checked + label{
    background-color: #ccebff;
}

#radio53{
    display: none;
}

#radio53 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/3star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
    margin-left: 10px;
}


#radio53:checked + label{
    background-color: #ccebff;
}

#radio54{
    display: none;
}

#radio54 + label{
    width: 140px;
    height: 60px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    margin: -2px;
    padding: 30px 0px 0px 0px;
    font: normal 700 18px/1 "Calibri", sans-serif;
    color: #0052cc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    background-image: url(img/4star3.png);
    background-repeat: no-repeat;
    background-position: 20px 7px;
    margin-left: 10px;
}


#radio54:checked + label{
    background-color: #ccebff;
}