body {
    background-color: cornflowerblue;
}

.row {
    margin-top: 30px;
    text-align: center;
}

.row2 {
    text-align: left;
}

.bandeHautBlanche {
    width: 100%;
    height: auto;
    background-color: white;
}

.imgPoleEmploi {
    width: 150px;
    top: 20px;
}

.imgCrif {
    width: 150px;
    top: 80px;
}

.imgFormAdvisor {
    height: 80px;
    margin-left: 20px;
}

.fondBlanc1 {
    height: 650px;
    background-color: white;
}

.merci {
    margin-top: 100px;
    font-size: 30px;
    color: cornflowerblue;
}