doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='contact.js')
    link(rel='stylesheet', href='index.css')
  body
    .bandeHautBlanche
      .container-fluid
        .row
          .col-sm-offset-3.col-sm-2
            img.imgFormAdvisor(src='img/formADVISOR.png')
            br
            br
            p.titreModeration Modération
          .col-sm-offset-3.col-sm-2
            img.imgPoleEmploi(src='img/propulse.png')
            img.imgCrif(src='img/logo_crif.png')
    .container-fluid
      .row
        .col-md-offset-4.col-md-4
          p.titrePageAdmin Contacter un administrateur
    .container-fluid
      .row
        .col-md-offset-1.col-md-2
          .fondBlancMenu
            .container-fluid
              .row
                .col-md-offset-2.col-md-8
                  a(href="/admin")
                    img(src='img/new.png', alt='nouveaux commentaires', height='80', width='80')
                    p Nouveaux commentaires
                  br
                  a(href="/validation")
                    img(src='img/validate.png', alt='commentaires validés', height='80', width='80')
                    p Commentaires validés
                  br
                  a(href="/supprime")
                    img(src='img/supprime.png', alt='commentaires supprimés', height='80', width='80')
                    p Commentaires refusés
                  br
                  a(href="/contact")
                    img(src='img/mail.png', alt='commentaires validés', height='80', width='80')
                    p Contacter un administrateur
        .col-md-offset-1.col-md-7
          .fondBlanc5
            .container-fluid
              .row#gauche
                .col-md-offset-2.col-md-8
                  form(action='mailto:exemple@pole-emploi.com', method='post')
                    | Objet du message:
                    br
                    input(type='text', name='name')
                    br
                    | Message:
                    br
                    textarea.titreComm(type='text', name='comment', size='100', rows='6')
                    br
                    br
                    input(type='submit', value='Envoyer')
