doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Ubuntu', rel='stylesheet')
    link(rel='stylesheet', href='index1.css')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='index.js')
    Acceuil
    // Hotjar Tracking Code for http://advisor.beta.pole-emploi.fr/
    script.
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:359252,hjsv:5};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  body
    .fondBlanc1
      br
      br
      br
      br
      .container-fluid
        .row
          .col-sm-2
            img.imgFormAdvisor(src='img/formADVISOR.png')
          .col-sm-offset-6.col-sm-2
            img.imgPoleEmploi(src='img/propulse.png')
            img.imgCrif(src='img/logo_crif.png')
      br
      br
      br
      br
      .container-fluid
        .row.no-padding
          .col-sm-12
            p#texteBienvenue1
              | Bienvenue 
              span.p#nom= name
              | ,
      br
      .container-fluid
        .row.no-padding
          .col-sm-12
            p#texteBienvenue1 Donnez ici votre avis sur la formation que vous avez suivie.
      .container-fluid
        .row.no-padding
          .col-sm-12
            p#texteBienvenue1 Cela vous prendre que 2 minutes.
      br
      .container-fluid
        .row.no-padding
          .col-sm-12
            .fondGris
              br
              br
              .container-fluid
                .row.no-padding
                  .col-sm-12
                    p.formation 
                      | Formation suivie : 
                      span.p.formationB= formationName
              .container-fluid
                .row.no-padding
                  .col-sm-12
                    p.formation 
                      | Centre de formation : 
                      span.p.formationB= formationPlace
              .container-fluid
                .row.no-padding
                  .col-sm-12
                    p.formation 
                      | Date : 
                      span.p.formationB= beginDate
      .container-fluid
        .row.no-padding
          .col-sm-12
            .suivant Donnez votre avis