doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='index.css')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='index.js')
    title Document
  body
    .bandeHautBlanche
      .container-fluid
        .row
          .col-sm-offset-2.col-sm-2
            img.imgFormAdvisor(src='img/formADVISOR.png')
          .col-sm-offset-4.col-sm-2
            img.imgPoleEmploi(src='img/propulse.png')
            img.imgCrif(src='img/logo_crif.png')
    .container-fluid
      .row2
        .col-md-offset-2.col-md-8
          .fondBlanc1
            br
            br
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-11
                  p.titreRefus Votre commentaire contient des propos injurieux. Il ne peut donc pas être validé. Merci de revoir vos propos.
            .container-fluid
              .row2
                .col-sm-offset-4.col-sm-4
                  .suivant4 Retour