body {
    background-color: cornflowerblue;
}

.row {

    margin-top: 30px;
    text-align: center;
}

.row2 {
    text-align: left;
}

.bandeHautBlanche {
    width: 100%;
    height: 140px;
    background-color: white;
}

.imgLbf {
    width: 120px;
    top: 30px;
}

.imgPoleEmploi {
    width: 150px;
    top: 20px;
    display:block;
    margin:auto;
}

.imgCrif {
    width: 150px;
    top: 80px;
    display:block;
    margin:auto;
}

.imgFormAdvisor {
    height: 80px;
}

#texteBienvenue1 {
    margin-top: 90px;
    font-size: 32px;
    color: white;
    position: absolute;
}

#texteBienvenue2 {
    margin-top: 255px;
    font-size: 32px;
    color: white;
    position: absolute;
}

#texteBienvenue3 {
    margin-top: 171px;
    font-size: 32px;
    color: white;
    position: absolute;
    text-align: center;
}

.suivant {
    width: 200px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#5a86d5, #4668a5);
    margin-top: 500px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 12px 20px;
    font-size: 24px;
    font: normal 700 24px/1 "Calibri", sans-serif;
    cursor: pointer;
}

.assistance {
    margin-top: 30px;
    position: absolute;
    color: white;
}

.lesAvis {
    margin-top: 50px;
    position: absolute;
    color: white;
}
/*****************************************page 2**************************************************/
.titreVotreFormation {
    margin-top: 32px;
    font-size: 32px;
    color: white;
    position: absolute;
}

.fondBlanc {
    height: 480px;
    background-color: white;
    margin-top: 100px;
    border-radius: 10px;
}

.vous {

    margin-top: 60px;
    position: absolute;
    font-size: 30px;
    color: cornflowerblue;
}

.nomPrenom {

    margin-top: 60px;
    position: absolute;
    font-size: 30px;
    color: cornflowerblue;
}

.intitule {

    margin-top: 160px;
    position: absolute;
    font-size: 30px;
    color: cornflowerblue;
}

.boucherCharcutier {

    margin-top: 160px;
    position: absolute;
    font-size: 30px;
    color: cornflowerblue;
}

.centre {

    margin-top: 260px;
    position: absolute;
    font-size: 30px;
    color: cornflowerblue;
}

.centreDeFormation {

    margin-top: 260px;
    position: absolute;
    font-size: 30px;
    color: cornflowerblue;
}

.date {

    margin-top: 360px;
    position: absolute;
    font-size: 30px;
    color: cornflowerblue;
}

.dateDeFormation {

    margin-top: 360px;
    position: absolute;
    font-size: 30px;
    color: cornflowerblue;
}

.confirmationInfos {
    margin-top: 30px;
    position: absolute;
    font-size: 32px;
    color: white;
}

.non {

    position: absolute;
    font-size: 32px;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.oui {

    position: absolute;
    font-size: 32px;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.cadreNon {
    background: #3d85c6;
    background: linear-gradient(#5a86d5, #4668a5);
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    padding: 10px 18px;
    font-size: 24px;
    font: normal 700 24px/1 "Calibri", sans-serif;
    width: 90px;
    height: 50px;
    margin-top: 28px;
    position: absolute;
    border-radius: 10px;
}

.cadreOui {
    background: #3d85c6;
    background: linear-gradient(#5a86d5, #4668a5);
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    padding: 9px 16px;
    font-size: 24px;
    font: normal 700 24px/1 "Calibri", sans-serif;
    width: 87px;
    height: 50px;
    margin-top: 28px;
    position: absolute;
    border-radius: 10px;
}


/****************************formulaire 3**************************************/

.fondBlanc2 {
    height: auto;
    padding-bottom: 80px;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
}

.titreAvisFormation {
    margin-top: 30px;
    font-size: 36px;
    color: white;
}

.question1 {
    margin-top: 80px;
    font-size: 24px;
    color: cornflowerblue;
}

.question2 {
    margin-top: 40px;
    font-size: 24px;
    color: cornflowerblue;
}

.question3 {
    margin-top: 40px;
    font-size: 24px;
    color: cornflowerblue;
}

.question4 {
    margin-top: 40px;
    font-size: 24px;
    color: cornflowerblue;
}

.question5 {
    margin-top: 40px;
    font-size: 24px;
    color: cornflowerblue;
}

#reponse {
    text-align: center;
    font-size: 20px;
}

.reponse1_1 {
    margin-top: 25px;
    color: cornflowerblue;
}

.reponse1_2 {
    margin-top: 25px;
    color: cornflowerblue;
}

.reponse1_3 {
    margin-top: 25px;
    color: cornflowerblue;
}

.reponse1_4 {
    margin-top: 25px;
    color: cornflowerblue;
}

.reponse1_5 {
    margin-top: 25px;
    color: cornflowerblue;
    z-index: 2;
}

.divPrincipaleReponses {
    width: 1000px;
    height: 60px;
    margin-top: 10px;
}

.divReponse1_1 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;

    border-radius: 10px;
    cursor: pointer;
}

.divReponse1_2 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;

    border-radius: 10px;
    cursor: pointer;
}

.divReponse1_3 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;

    border-radius: 10px;
    cursor: pointer;
}

.divReponse1_4 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;

    border-radius: 10px;
    cursor: pointer;
}

.divReponse1_5 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;

    border-radius: 10px;
    cursor: pointer;
}

.etoile1 {
    margin-top: 6px;
    height: 18px;
    position: absolute;
    overflow: hidden;
}

.etoile2 {
    margin-top: 6px;
    height: 18px;
    position: absolute;
    overflow: hidden;
}

.etoile3 {
    margin-top: 6px;
    height: 18px;
    position: absolute;
    overflow: hidden;
}

.etoile4 {
    margin-top: 6px;
    height: 18px;
    position: absolute;
    overflow: hidden;
}

.etoile5 {
    margin-top: 6px;
    height: 18px;
    position: absolute;
    overflow: hidden;
}


/********************************************* question 2 *********************************************/

.divPrincipaleReponses2 {
    width: 1000px;
    height: 60px;
    margin-top: 20px;
}

.divReponse2_1 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse2_2 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse2_3 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse2_4 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse2_5 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}


/*********************************question 3 **********************************************/

.divPrincipaleReponses3 {
    width: 1000px;
    height: 60px;
    margin-top: 20px;
}

.divReponse3_1 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse3_2 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse3_3 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse3_4 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse3_5 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}


/********************************question 4*******************************************************/

.divPrincipaleReponses4 {
    width: 1000px;
    height: 60px;
    margin-top: 20px;
}

.divReponse4_1 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse4_2 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse4_3 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse4_4 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse4_5 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}


/*************************************question 5***********************************************/

.divPrincipaleReponses5 {
    width: 1000px;
    height: 60px;
    margin-top: 20px;
}

.divReponse5_1 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse5_2 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse5_3 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse5_4 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse5_5 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.suivant2 {
    width: 200px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#5a86d5, #4668a5);
    margin-top: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 12px 20px;
    font-size: 24px;
    font: normal 700 24px/1 "Calibri", sans-serif;
    cursor: pointer;
}

.divInutile {
    width: 100px;
    height: 100px;
    margin-top: 50px;
}


/********************************************formulaire 4********************************************/

.fondBlanc4 {
    height: auto;
    padding-bottom: 30px;
    background-color: white;
    margin-top: 100px;
    border-radius: 10px;
}

.titre4 {
    margin-top: 60px;
    font-size: 24px;
    color: cornflowerblue;
}

.divReponse6_1 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse6_2 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse6_3 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse6_4 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.divReponse6_5 {
    background-color: white;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.reponse2_1 {
    margin-top: 25px;
    color: cornflowerblue;
}

.reponse2_2 {
    margin-top: 25px;
    color: cornflowerblue;
}

.reponse2_3 {
    margin-top: 25px;
    color: cornflowerblue;
}

.reponse2_4 {
    margin-top: 25px;
    color: cornflowerblue;
}

.reponse2_5 {
    margin-top: 25px;
    color: cornflowerblue;
    z-index: 2;
}

.titre5 {
    margin-top: 240px;
    position: absolute;
    font-size: 24px;
    color: cornflowerblue;
}

#azerty{
    margin-left: 20%;
}

#tag {
    margin-top: 310px;
    border-color: cornflowerblue;
    width: 70%;
}

.cochant {
    margin-top: 18px;
    color: cornflowerblue;
    font-size: 16px;
}

.suivant3 {
    width: 200px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#5a86d5, #4668a5);
    margin-top: 70px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 12px 20px;
    font-size: 24px;
    font: normal 700 24px/1 "Calibri", sans-serif;
    cursor: pointer;
}


/*****************************************merci*****************************************************/

.merci {
    margin-left: 6%;
    ;
    margin-top: 120px;
    position: absolute;
    font-size: 30px;
    color: cornflowerblue;
}

.suivant4 {
    width: 200px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#5a86d5, #4668a5);
    margin-top: 70px;
    margin-left: 70%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 12px 20px;
    font-size: 24px;
    font: normal 700 24px/1 "Calibri", sans-serif;
    cursor: pointer;
}