doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Ubuntu', rel='stylesheet')
    link(rel='stylesheet', href='Mobile/index2.css')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='Mobile/index.js')
  body
     .fondBlanc1
      br
      br
      br
      br
      .container-fluid
        .row
          .col-sm-2
            img.imgFormAdvisor(src='img/formADVISOR.png')
          .col-sm-offset-6.col-sm-2
            img.imgPoleEmploi(src='img/propulse.png')
            img.imgCrif(src='img/logo_crif.png')
            br
            br
      .container-fluid
        .row2
          .col-sm-offset-1.col-sm-10
            p.merci
              | Accès refusé. Vous avez déjà donné votre avis sur cette formation.