body {
    background-color: cornflowerblue;
}

.fondBlanc1,
.fondBlanc2,
.fondBlanc3 {
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    min-height: 100vh;
    background-color: #fff;
}

.imgFormAdvisor {
    height: 80px;
    margin-left: 20px;
}

.imgPoleEmploi {
    width: 150px;
    top: 20px;
}

.imgCrif {
    width: 150px;
    top: 80px;
}

.imgPoleEmploi {
    width: 150px;
    top: 20px;
}

.imgCrif {
    width: 150px;
    top: 80px;
}

.imgFormAdvisor {
    height: 80px;
    margin-left: 20px;
}

.suivant3 {
    width: 200px;
    height: 50px;
    background: #3d85c6;
    background: linear-gradient(#ffb366, #ff9933);
    margin-top: 50px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    display: inline-block;
    padding: 12px 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.merci {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: #0066cc;
    font-weight: bold;
}

.fondBlanc4 {
    height: auto;
    background-color: white;
    padding-bottom: 60px;
    margin-top: -5px;
}