doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Ubuntu', rel='stylesheet')
    link(rel='stylesheet', href='Mobile/index2.css')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='index.js')
    title Document
    script.
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:380667,hjsv:5};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  body
   form(action='envoiInfo2', method='post')
      .fondBlanc2
          br
          br
          br
          br
          .container-fluid
            .row
              .col-sm-2
                img.imgFormAdvisor(src='img/formADVISOR.png')
              .col-sm-offset-6.col-sm-2
                img.imgPoleEmploi(src='img/propulse.png')
                img.imgCrif(src='img/logo_crif.png')
                br
                br
                br
                br
          .container-fluid
            .row
              .col-md-12
                p.pouvezVous
                  | Complétez votre avis par un commentaire 
                  span.nonObligatoire (facultatif)
                  br
                  br
          .fondGris
            .container-fluid
              .row.no-padding
                .col-sm-12
                  p.titre2 Titre
            .container-fluid
              .row.no-padding
                .col-sm-12
                  textarea.titreComm(type='text', name='titreCommentaire', rows='1', placeholder=" Exemple = Formation très utile", maxlength='60')
                  br
                  br
            .container-fluid
              .row.no-padding
                .col-sm-12
                  p.titre2 Commentaire
                .col-sm-12
                  p.injure Les propos injurieux ou liens vers d'autres sites seront automatiquement refusés
            .container-fluid
              .row.no-padding
                .col-sm-12
                  textarea#tag.champ(type='text', name='commentaire', rows='6', maxlength='200')
                  p.nombreCharactere
          .container-fluid
            .row
              .col-sm-12
                button.suivant5 Suivant
          .container-fluid
            .row
              .col-sm-12
                .retour Retour
              