doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='Mobile/index2.css')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='Mobile/index.js')
    title Document
  body
    .fondBlanc1
      br
      br
      br
      br
      .container-fluid
        .row
          .col-sm-2
            img.imgFormAdvisor(src='img/formADVISOR.png')
          .col-sm-offset-6.col-sm-2
            img.imgPoleEmploi(src='img/propulse.png')
            img.imgCrif(src='img/logo_crif.png')
            br
            br
            br
            br
      .container-fluid
        .row2
          .col-sm-12
            p.titreRefus Votre commentaire contient des propos injurieux ou des liens externes. Il ne peut donc pas être validé. Merci de revoir vos propos.
      .container-fluid
        .row2
          .col-sm-offset-4.col-sm-4
            .retour Retour