doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Ubuntu', rel='stylesheet')
    link(rel='stylesheet', href='Mobile/index1.css')
    script(type='text/javascript', src='jquery.js')
    Acceuil
    // Hotjar Tracking Code for http://advisor.beta.pole-emploi.fr/
    script.
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:380667,hjsv:5};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
      
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-92090528-1', 'auto');
      ga('send', 'pageview');
  body
    .fondBlanc1
      br
      .container-fluid
        .row
          .col-sm-2
            img.imgFormAdvisor(src='img/formADVISOR.png')
          .col-sm-offset-6.col-sm-2
            img.imgPoleEmploi(src='img/propulse.png')
            img.imgCrif(src='img/logo_crif.png')
      br
      br
      .container-fluid
        .row.no-padding
          .col-sm-12
            p#texteBienvenue1
              | Bienvenue 
              span.p#prenom
              | ,
      br
      .container-fluid
        .row.no-padding
          .col-sm-12
            p#texteBienvenue1 Donnez ici votre avis sur la formation que vous avez suivie.
      .container-fluid
        .row.no-padding
          .col-sm-12
            p#texteBienvenue1 Cela ne vous prendre que 2 minutes.
      br
      .container-fluid
        .row.no-padding
          .col-sm-12
            .fondGris
              br
              .container-fluid
                .row.no-padding
                  .col-sm-12
                    p.formation 
                      | Formation suivie : 
                      span.p#formationB
              .container-fluid
                .row.no-padding
                  .col-sm-12
                    p.formation 
                      | Centre de formation : 
                      span.p#formationC
              .container-fluid
                .row.no-padding
                  .col-sm-12
                    p.formation 
                      | Date : 
                      span.p#formationD
                      |  au 
                      span.p#formationE
      .container-fluid
        .row.no-padding
          .col-sm-12
            .suivant Donnez votre avis
script(type='text/javascript', src='index.js').